<div class="modules-div">
  <h1 class="bukra-bold-italc heading-bottom-allignment wow fadeInUp wHighlight"  data-wow-delay=".35s" >العناوين الافتراضية</h1>
 
  <div class="grid-style1 title-font-box1 wow fadeInUp wHighlight"  data-wow-delay=".35s" >
 
    <div class="col-md-9 padding-div">
      <div class="col-md-12">
        <div class="col-md-4">
          <div class="row">
            <h1 class="bukra-bold-italc">ه1</h1>
          </div>
        </div>
        <div class="col-md-8">
          <h1 class="bukra-bold-italc ">Bold Italic 40PX</h1>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-4">
          <div class="row">
            <h2 class="bukra-bold-italc ">ه2</h2>
          </div>
        </div>
        <div class="col-md-8">
          <h2 class="bukra-bold-italc">Bold Italic 30PX</h2>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-4">
          <div class="row">
            <h3 class="bukra-bold font-dubai-size9">ه3</h3>
          </div>
        </div>
        <div class="col-md-8">
          <h3 class="bukra-bold font-dubai-size9">Bold 22PX</h3>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-4">
          <div class="row">
            <h4 class="bukra-bold font-dubai-size8">ه4</h4>
          </div>
        </div>
        <div class="col-md-8">
          <h4 class="bukra-bold font-dubai-size8">Bold 20PX</h4>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-4">
          <div class="row">
            <h5 class="font-dubai-size8 bukra-regular">أرقام</h5>
          </div>
        </div>
        <div class="col-md-8">
          <h5 class="font-dubai-size8 bukra-regular">Regular 20PX</h5>
        </div>
      </div>
    </div>
    <div class="col-md-3 padding-div2">
      <div class="download-btn-div1">
        <p>Aأ</p>
        <hr class="hr-style">
        <p>29LT Bukra</p>
        <p>العربية English</p>
        <div>
          <!-- <button type="button" class="btn download-btn eff">Download</button> -->
          <button mat-flat-button  class="btn download-btn eff">Download</button>
          
        </div>
      </div>   
    </div>
  </div>
  <div class="clearfix"></div>
  <h2 class="bukra-bold-italc heading-bottom-allignment wow fadeInUp wHighlight"  data-wow-delay=".85s" >النص الأساسي&nbsp;<span class="regular-1 head-sub-style">أمثلة أساسية للنص يتم تنفيذها في العناوين أو العلامات.</span></h2>

  <div class="grid-style1 grid-height-1 grid-style-padding wow fadeInUp wHighlight"  data-wow-delay=".85s" >
 
    <div class="col-md-6  txt-line-height">
      <div class="row">
        <div class="col-md-6"><span class="font-dubai-size6 bukra-bold">نصوص تبويب/تلميح/ازرار</span></div>
        <div class="col-md-6"><span class="font-dubai-size6 bukra-bold">Bold 17PX</span></div>
      </div>
      <div class="row">
        <div class="col-md-6"><span class="font-dubai-size6 bukra-regular">نصوص تبويب/تلميح/ازرار</span></div>
        <div class="col-md-6"><span class="font-dubai-size6 bukra-regular">Regular 17PX</span></div>
      </div>
      <div class="row">
        <div class="col-md-6"><span class="bukra-bold-italc font-dubai-size5">نص بحث سميك</span></div>
        <div class="col-md-6"><span class="bukra-bold-italc font-dubai-size5">Bold Italic 14PX</span></div>
      </div>
      <div class="row">
        <div class="col-md-6"><span class="bukra-regular font-dubai-size5">نص بحث رفيع</span></div>
        <div class="col-md-6"><span class="bukra-regular font-dubai-size5">Regular 14PX</span></div>
      </div>
    </div>
    <div class="col-md-6  txt-line-height2 list-allingment1">
      <div class="row">
        <div class="col-md-6"><span class="bukra-regular font-dubai-size5 color-1">نصوص استبدالية</span></div>
        <div class="col-md-6"><span class="bukra-regular font-dubai-size5 color-1">Regular 14PX</span></div>
      </div>
      <div class="row">
        <div class="col-md-6"><span class="bukra-regular font-dubai-size4 color-2">نصوص تبويب/تلميح</span></div>
        <div class="col-md-6"><span class="bukra-regular font-dubai-size4 color-2">Regular 12PX</span></div>
      </div>
      <div class="row">
        <div class="col-md-6"><span class="bukra-regular font-dubai-size3 color-2">نصوص تذييل/ وسم/ تسلسل</span></div>
        <div class="col-md-6"><span class="bukra-regular font-dubai-size3 color-2">Regular 11PX</span></div>
      </div>
      <div class="row">
        <div class="col-md-6"><span class="bukra-bold-italc font-dubai-size2 color-4">نصوص تبويب/تلميح/ وسم</span></div>
        <div class="col-md-6"><span class="bukra-bold-italc font-dubai-size2 color-4">Bold Italic 10PX</span></div>
      </div>
      <div class="row">
        <div class="col-md-6"><span class="bukra-regular font-dubai-size1 color-4">نسخة قانونية</span></div>
        <div class="col-md-6"><span class="bukra-regular font-dubai-size1 color-4">Regular Italic 9PX</span></div>
      </div>
    </div>
  </div>
  <div class="grid-style1 gride-color-1 wow fadeInUp wHighlight"  data-wow-delay=".75s" >
    <div class="report-icon-div"><i class="material-icons">report_problem</i></div>
    <div class="col-md-6">
      <div class="row">
        <p class="font-dubai-regular font-dubai-size5 txt-color-2">هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقطبيعياَ -إلى حد ما- للأحرف عوضاً عن استخدام "هنا يوجد محتوى نصي، 
          هناك حقيقة م </p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <p class="font-dubai-regular font-dubai-size5 txt-color-1">Lorem Ipsum is simply dummy text of the printing and typesetting 
          industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and 
          scrambled it to make a type specimen book.
          
          Lorem Ipsum is simply dummy text of the printing and typesetting 
          industry. </p>
      </div>
    </div>
  </div>
</div>