<div class="modules-div page-3">
    <h1 class="bukra-bold wow fadeInUp wHighlight"  data-wow-delay=".35s">أزرار بأحجام مختلفة&nbsp;<span class="regular-1 head-sub-style">جميع الاحجام والحالات المقترح استخدامها بدون أيقونات</span></h1>
    <div class="grid-style2 div-1 left-margin grid-2-height wow fadeInUp wHighlight"  data-wow-delay=".35s">
      <div class="row btn-div-allignment2">
          <div class="col-md-12">
              <h5 class="bukra-bold">النموذج الافتراضي</h5>
            </div>
        <div class="col-md-12">
           <div class="tooltipDivright"  >
            <button mat-flat-button [mdePopoverTriggerFor]="appPopover" mdePopoverTriggerOn="hover"   class="btn dp-button-success     ">تحوم للحصول على التفاصيل</button>
          </div>

          <mde-popover     #appPopover="mdePopover"   [mdePopoverOverlapTrigger]="false">
            <mat-card style="max-width: 500px; min-height: 250px; border-radius:11px;">
               <mat-icon   class="btn mat-icon material-icons"   aria-hidden="true">close</mat-icon>     
            <mat-card-content>
                شكلي (بمعنى أن اغاية هي الشكل وليس المحتوى)  (بمعنىلوريم إيبسوم(Lorem Ipsum) هو 
            </mat-card-content>
              <button mat-flat-button   class="btn dp-button-success first-btn-row icon-btn-txt-font-size1 eff"> زر  التالل</button>
            </mat-card>
          </mde-popover>
      </div>
    </div>
      
       
    </div>
    <div class="grid-style2 div-1 grid-2-height wow fadeInUp wHighlight "  data-wow-delay=".35s">
      <div class="row btn-div-allignment3">
          <div class="col-md-12">
              <div class="col-md-12">
                  <h5 class="bukra-bold">النموذج الافتراضي</h5>
                </div>
                <div class="tooltipDivleft"  >          
                  <button mat-flat-button [mdePopoverTriggerFor]="appPopover" mdePopoverTriggerOn="hover"   class="btn dp-button-success  ">تحوم للحصول على التفاصيلزر  التالى</button>
                </div>
                <mde-popover y-position="above"    #appPopover="mdePopover"   [mdePopoverOverlapTrigger]="false">      
                  <mat-card style="max-width: 500px; min-height: 250px; border-radius:11px;">                    
                            <mat-icon   class="btn mat-icon material-icons"   aria-hidden="true">close</mat-icon>     
                    <mat-card-content>
                      شكلي (بمعنى أن اغاية هي الشكل وليس المحتوى)  (بمعنىلوريم إيبسوم(Lorem Ipsum) هو 
                    </mat-card-content>
                    <button mat-flat-button  class="btn dp-button-success first-btn-row icon-btn-txt-font-size1 eff">زر  التالى</button>        
                  </mat-card>
                </mde-popover>
              </div>
        </div>
      </div>
    </div>  

 