<div class="modules-div page-3">
          <h1 class="bukra-bold">قائمة &nbsp;<span class="regular-1 head-sub-style">أنماط مقترحة لمكونات القائمة</span></h1>
          
          <div class="clearfix"></div><br>
          
          <div class="col-md-4 ">
            <p class="color-11 font-dubai-size3 text-bottom-margin"> مع أيقونات 1 (يمكن استخدامهم بدون أيقونات)</p>
            <div class="dp-media-bg">
              <div class="row">
                <div class="col-md-12">
                  <h5 class="bukra-bold">لوريم إيبسوم(Lorem Ipsum)</h5>
                </div>
                <div class="media media-allignment">
                  <div class="media-left"> <a href="#"> <img src="src/assets/images/user-img.png" class="media-object dp-media-img" alt="Sample Image"> </a> </div>
                  <div class="media-body">
                    <p class="font-dubai-size5 font-dubai-regular">لوريم إيبسوم(Lorem Ipsum) 
                      هو ببساطة نص شكلي(بمعنى أن 
                      الغاية هي الشكل وليس المحتوى</p>
                  </div>
                </div>
                <div class="media media-allignment">
                  <div class="media-left"> <a href="#"> <img src="src/assets/images/user-img.png" class="media-object dp-media-img" alt="Sample Image"> </a> </div>
                  <div class="media-body">
                    <p class="font-dubai-size5 font-dubai-regular">لوريم إيبسوم(Lorem Ipsum) 
                      هو ببساطة نص شكلي(بمعنى أن 
                      لوريم إيبسوم(Lorem Ipsum) 
                      هو ببساطة نص شكلي(بمعنى أن 
                      الوريم إيبسوم(Lorem Ipsum) 
                      هو ببساطة نص شكلي(بمعنى أن 
                      الوريم إيبسوم(Lorem Ipsum) 
                     </p>
                  </div>
                </div>
                <div class="media media-allignment">
                  <div class="media-left"> <a href="#"> <img src="src/assets/images/user-img.png" class="media-object dp-media-img" alt="Sample Image"> </a> </div>
                  <div class="media-body">
                    <p class="font-dubai-size5 font-dubai-regular">لوريم إيبسوم(Lorem Ipsum) 
                      هو ببساطة نص شكلي(بمعنى أن 
                      الغاية هي الشكل وليس المحتوى</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <p class="color-11 font-dubai-size3 text-bottom-margin"> مع أيقونات 1 (يمكن استخدامهم بدون أيقونات)</p>
            <div class="dp-media-bg">
              <div class="row">
                <div class="col-md-12">
                  <h5 class="bukra-bold">لوريم إيبسوم(Lorem Ipsum)</h5>
                </div>
                <div class="media media-allignment">
                  <div class="media-left"> <a href="#"> <img src="src/assets/images/user-img.png" class="media-object dp-media-img" alt="Sample Image"> </a> </div>
                  <div class="media-body">
                    <p class="font-dubai-size5 font-dubai-regular">لوريم إيبسوم(Lorem Ipsum) 
                      هو ببساطة نص شكلي(بمعنى أن 
                      الغاية هي الشكل وليس المحتوى</p>
                  </div>
                </div>
                <div class="media media-allignment">
                  <div class="media-left"> <a href="#"> <img src="src/assets/images/user-img.png" class="media-object dp-media-img" alt="Sample Image"> </a> </div>
                  <div class="media-body">
                    <p class="font-dubai-size5 font-dubai-regular">لوريم إيبسوم(Lorem Ipsum) 
                      هو ببساطة نص شكلي(بمعنى أن 
                      الغاية هي الشكل وليس المحتوى</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <br>
             <p class="color-11 font-dubai-size3 text-bottom-margin"> مع أيقونات 1 (يمكن استخدامهم بدون أيقونات)</p>
            <div class="dp-media-bg">
              <div class="row">
                <div class="col-md-12">
                  <h5 class="bukra-bold">لوريم إيبسوم(Lorem Ipsum)</h5>
                </div>
                <ul class="media-list">
                  <li>لوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعن يع  أن الغاية هي الشكل وليس</li>
                  <li>لوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعن يع  أن الغاية هي الشكل وليس</li>
                  <li>لوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعن يع  أن الغاية هي الشكل وليس</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="clearfix"></div><br>
          <div class="col-md-12">
          	 <p class="color-11 font-dubai-size3 text-bottom-margin"> مع أيقونات 1 (يمكن استخدامهم بدون أيقونات)</p>
            <div class="dp-media-bg">
              <div class="row">
                <div class="col-md-12">
                  <h5 class="bukra-bold">لوريم إيبسوم(Lorem Ipsum)</h5>
                </div>
                <div class="media media-allignment">
                  <div class="media-left"> <a href="#"> <img src="src/assets/images/user-img.png" class="media-object dp-media-img" alt="Sample Image"> </a> </div>
                  <div class="media-body">
                    <p class="font-dubai-size5 font-dubai-regular">لوريم إيبسوم(Lorem Ipsum) 
                      هو ببساطة نص شكلي(بمعنى أن 
                      الغاية هي الشكل وليس المحتوى</p>
                  </div>
                </div>
                <div class="media media-allignment">
                  <div class="media-left"> <a href="#"> <img src="src/assets/images/user-img.png" class="media-object dp-media-img" alt="Sample Image"> </a> </div>
                  <div class="media-body">
                    <p class="font-dubai-size5 font-dubai-regular">لوريم إيبسوم(Lorem Ipsum) 
                      هو ببساطة نص شكلي(بمعنى أن 
                      لوريم إيبسوم(Lorem Ipsum) 
                      هو ببساطة نص شكلي(بمعنى أن 
                      الوريم إيبسوم(Lorem Ipsum) 
                      هو ببساطة نص شكلي(بمعنى أن 
                      الوريم إيبسوم(Lorem Ipsum) 
                     </p>
                  </div>
                </div>
       
              </div>
            </div>
          </div>
      