.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
    text-align: right;

  }
  .grid-style2 {
    width: 45%;
    float: right;
    box-shadow: 0 0 23px -6px rgba(0,0,0,.24);
    
    min-height: 508px;
    height: auto !important;
}