<div class="modules-div page-3">
  <h1 class="bukra-bold wow fadeInUp wHighlight"  data-wow-delay=".35s">أزرار بأحجام مختلفة&nbsp;<span class="regular-1 head-sub-style">جميع الاحجام والحالات المقترح استخدامها بدون أيقونات</span></h1>
  <div class="grid-style2 div-1 left-margin grid-2-height wow fadeInUp wHighlight"  data-wow-delay=".35s">
    <div class="row btn-div-allignment2">
      <div class="col-md-4">
        <p class="text-top-bottom-allignment color-2">مستدير كبير</p>
        <span class="font-dubai-size2 color-1">(أوامر لمستوى الصفحة)</span></div>
      <div class="col-md-2 btn-center-alignment">
        <div>
          <button mat-flat-button class="btn round-btn dp-button-success-round eff"><i class="material-icons round-btn-icon">add</i></button>
          <p class="color-1 font-dubai-size1 text-top-bottom-allignment"> </p>
        </div>
      </div>
      <div class="col-md-2 btn-center-alignment">
        <div>
          <button mat-flat-button class="btn round-btn dp-button-dark eff"><i class="material-icons round-btn-icon">add</i></button>
          <p class="color-1 font-dubai-size1 text-top-bottom-allignment"> </p>
        </div>
      </div>
      <div class="col-md-2 btn-center-alignment">
        <div>
          <button mat-flat-button class="btn round-btn btn-sucess-round eff2"><i class="material-icons round-btn-icon">add</i></button>
          <p class="color-1 font-dubai-size1 text-top-bottom-allignment"> </p>
        </div>
      </div>
      <div class="col-md-2 btn-center-alignment">
        <div>
          <button mat-flat-button class="btn round-btn btn-light-round" disabled="disabled"><i class="material-icons round-btn-icon">add</i></button>
          <p class="color-1 font-dubai-size1 text-top-bottom-allignment"> </p>
        </div>
      </div>
    </div>
    <div class="row btn-div-allignment2">
      <div class="col-md-4">
        <p class="text-top-bottom-allignment color-2">مستدير كبير</p>
        <span class="font-dubai-size2 color-1">(أوامر لمستوى الصفحة)</span></div>
      <div class="col-md-2 btn-center-alignment">
        <div>
          <button mat-flat-button class="btn round-btn2 dp-button-success-round add-btn-bg eff"><i class="material-icons round-btn-icon">add</i> </button>
          <p class="color-1 font-dubai-size1 text-top-bottom-allignment">فعال ممتلئ</p>
        </div>
      </div>
      <div class="col-md-2 btn-center-alignment">
        <div>
          <button mat-flat-button class="btn round-btn2 dp-button-dark add-btn-bg eff"><i class="material-icons round-btn-icon">add</i></button>
          <p class="color-1 font-dubai-size1 text-top-bottom-allignment">فعال ممتلئ</p>
        </div>
      </div>
      <div class="col-md-2 btn-center-alignment">
        <div>
          <button mat-flat-button class="btn round-btn2 btn-sucess-round add-btn-bg eff2"><i class="material-icons round-btn-icon">add</i></button>
          <p class="color-1 font-dubai-size1 text-top-bottom-allignment">فعال ممتلئ</p>
        </div>
      </div>
      <div class="col-md-2 btn-center-alignment">
        <div>
          <button mat-flat-button class="btn round-btn2 add-btn-bg btn-light-round" disabled="disabled"><i class="material-icons round-btn-icon">add</i></button>
          <p class="color-1 font-dubai-size1 text-top-bottom-allignment">فعال ممتلئ</p>
        </div>
      </div>
    </div>
    <div class="row btn-div-allignment2">
      <div class="col-md-4">
        <p class="text-top-bottom-allignment color-2">مستدير كبير</p>
        <span class="font-dubai-size2 color-1">(أوامر لمستوى الصفحة)</span></div>
      <div class="col-md-2 btn-center-alignment">
        <div>
          <button mat-flat-button class="btn round-btn3 dp-button-success-round eff"><i class="material-icons round-btn-icon">add</i></button>
          <p class="color-1 font-dubai-size1 text-top-bottom-allignment">فعال ممتلئ</p>
        </div>
      </div>
      <div class="col-md-2 btn-center-alignment">
        <div>
          <button mat-flat-button class="btn round-btn3 dp-button-dark eff"><i class="material-icons round-btn-icon">add</i></button>
          <p class="color-1 font-dubai-size1 text-top-bottom-allignment">فعال ممتلئ</p>
        </div>
      </div>
      <div class="col-md-2 btn-center-alignment">
        <div>
          <button mat-flat-button class="btn round-btn3 btn-sucess-round eff2"><i class="material-icons round-btn-icon">add</i></button>
          <p class="color-1 font-dubai-size1 text-top-bottom-allignment">فعال ممتلئ</p>
        </div>
      </div>
      <div class="col-md-2 btn-center-alignment">
        <div>
          <button mat-flat-button class="btn round-btn3 btn-light-round" disabled="disabled"><i class="material-icons round-btn-icon">add</i></button>
          <p class="color-1 font-dubai-size1 text-top-bottom-allignment">فعال ممتلئ</p>
        </div>
      </div>
    </div>
  </div>
  <div class="grid-style2 div-1 grid-2-height wow fadeInUp wHighlight "  data-wow-delay=".35s">
    <div class="row btn-div-allignment3">
      <div class="col-md-4">
        <p class="text-top-bottom-allignment color-2">مستدير كبير</p>
        <span class="font-dubai-size2 color-1">(أوامر لمستوى الصفحة)</span>
        <div class="clearfix"></div>
        <span><i class="material-icons color-code-icon green-color-12"> stop </i> &nbsp;#0ca26f</span> </div>
      <div class="col-md-2 btn-center-alignment">
        <div class="icon-div2 icon-bottom1">
          <div>
              <button mat-icon-button>
                  <mat-icon class="material-icons round-btn-icon add-icon-font-size1 green-color-12 " >add</mat-icon>
                </button>
                <p class="color-1 font-dubai-size1 text-top-bottom-plus">42px</p>
            
          </div>
        </div>
      </div>
      <div class="col-md-2 btn-center-alignment">
        <div class="icon-div2 icon-bottom2">
          <div>
              <button mat-icon-button>
                  <mat-icon class="material-icons round-btn-icon add-icon-font-size2 green-color-12" >add</mat-icon>
                </button>
            
            <p class="color-1 font-dubai-size1 text-top-bottom-plus">36px</p>
          </div>
        </div>
      </div>
      <div class="col-md-2 btn-center-alignment">
        <div class="icon-div2 icon-bottom3">
          <div>
              <button mat-icon-button>
                  <mat-icon class="material-icons round-btn-icon add-icon-font-size3 green-color-12" >add</mat-icon>
                </button>
            
            <p class="color-1 font-dubai-size1 text-top-bottom-plus">32px</p>
          </div>
        </div>
      </div>
      <div class="col-md-2 btn-center-alignment">
        <div class="icon-div2 icon-bottom4">
          <div>
              <button mat-icon-button>
                  <mat-icon class="material-icons round-btn-icon add-icon-font-size4 green-color-12" >add</mat-icon>
                </button>
            
            <p class="color-1 font-dubai-size1 text-top-bottom-plus">24px</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row btn-div-allignment3">
      <div class="col-md-4"> <span><i class="material-icons color-code-icon"> stop </i> &nbsp;#000000</span> </div>
      <div class="col-md-2 btn-center-alignment">
        <div class="icon-div2 icon-bottom5">
          <div>
              <button mat-icon-button>
                  <mat-icon class="material-icons round-btn-icon add-icon-font-size5 green-color-12" >add</mat-icon>
                </button>
             
            <p class="color-1 font-dubai-size1 text-top-bottom-plus">22px</p>
          </div>
        </div>
      </div>
      <div class="col-md-2 btn-center-alignment">
        <div class="icon-div2 icon-bottom6">
          <div>
              <button mat-icon-button>
                  <mat-icon class="material-icons round-btn-icon add-icon-font-size6 green-color-12" >add</mat-icon>
                </button>
            
            <p class="color-1 font-dubai-size1 text-top-bottom-plus">18px</p>
          </div>
        </div>
      </div>
      <div class="col-md-2 btn-center-alignment">
        <div class="icon-div2 icon-bottom7">
          <div>
              <button mat-icon-button>
                  <mat-icon class="material-icons round-btn-icon add-icon-font-size7 green-color-12" >add</mat-icon>
                </button>
            
            <p class="color-1 font-dubai-size1 text-top-bottom-plus">16px</p>
          </div>
        </div>
      </div>
      <div class="col-md-2 btn-center-alignment">
        <div class="icon-div2 icon-bottom8">
          <div>
              <button mat-icon-button>
                  <mat-icon class="material-icons round-btn-icon add-icon-font-size8 green-color-12" >add</mat-icon>
                </button>
             
            <p class="color-1 font-dubai-size1 text-top-bottom-plus">12px</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row btn-div-allignment3">
      <div class="col-md-4"> <span><i class="material-icons color-code-icon color-10"> stop </i> &nbsp;#dedede</span> </div>
      <div class="col-md-2 btn-center-alignment">
        <div class="icon-div2 icon-bottom9">
          <div>
              <button mat-icon-button>
                  <mat-icon class="material-icons round-btn-icon add-icon-font-size9 green-color-12" >add</mat-icon>
                </button>
             
            <p class="color-1 font-dubai-size1 text-top-bottom-plus">11px</p>
          </div>
        </div>
      </div>
      <div class="col-md-2 btn-center-alignment">
        <div class="icon-div2 icon-bottom10">
          <div>
              <button mat-icon-button>
                  <mat-icon class="material-icons round-btn-icon add-icon-font-size10 green-color-12" >add</mat-icon>
                </button>
             
            <p class="color-1 font-dubai-size1 text-top-bottom-plus">8px</p>
          </div>
        </div>
      </div>
    </div>
    <hr class="hr-style2">
    <div class="col-md-2"><img src="src/assets/images/icon1.png"></div>
    <div class="col-md-8">
      <h5 class="text-bottom-top-padding">مكتبة أيقونات متيريال </h5>
      <p><a href="#" class="font-dubai-size3 color-1">https://material.io/tools/icons/?style=baseline</a></p>
    </div>
    <div class="col-md-2">
        <button mat-icon-button>
            <mat-icon class="material-icons font-dubai-size11 color-11 new-window-icon" >open_in_new</mat-icon>
          </button>
      <!-- <i class="material-icons font-dubai-size11 color-11 new-window-icon">open_in_new</i> -->
    </div>
  </div>
  <div class="grid-style2 left-margin grid-3-height wow fadeInUp wHighligh btn-group-div1"  data-wow-delay=".55s">
    <h4>مجموعة أزرار</h4>
    <p class="font-dubai-size3 color-11">(بالإمكان استخدام الحجم الكبير٫ المتوسط(الحالي)٫ الصغير و الأدنى)</p>
    <p class="color-11 font-dubai-size3 ">مع أيقونات</p>
    
    <div class="btn-group btn-group1 btn-group-style3" role="group" aria-label="">
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
            <mat-button-toggle class="btn btn-default dp-button-success-round top-to-bottom" value="1"><i class="material-icons btn-icon">account_circle</i>  أول</mat-button-toggle>
            <mat-button-toggle class="btn btn-default dp-button-success-round top-to-bottom" value="2"> <i class="material-icons btn-icon">account_circle</i> ثاني</mat-button-toggle>
            <mat-button-toggle class="btn btn-default dp-button-success-round top-to-bottom" value="3">  <i class="material-icons btn-icon">account_circle</i> ثالث</mat-button-toggle>
            <mat-button-toggle class="btn btn-default dp-button-success-round top-to-bottom" value="4"> <i class="material-icons btn-icon">account_circle</i> ثالث     </mat-button-toggle>
          </mat-button-toggle-group>
      
    </div>
    <div class="clearfix"></div>

    <p class="color-11 font-dubai-size3 ">مع أيقونات</p>
    <div class="btn-group btn-group1 btn-group-style3" role="group" aria-label="Basic example">
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
            <mat-button-toggle class="btn dp-button-success-round top-to-bottom float-right-div" value="1">   أول</mat-button-toggle>
            <mat-button-toggle class="btn dp-button-success-round top-to-bottom float-right-div" value="2">   ثاني</mat-button-toggle>
            <mat-button-toggle class="btn dp-button-success-round top-to-bottom float-right-div" value="3">    ثالث</mat-button-toggle>
            <mat-button-toggle class="btn dp-button-success-round top-to-bottom float-right-div" value="4">   ثالث     </mat-button-toggle>
          </mat-button-toggle-group>
       
    </div>
    <div class="clearfix"></div>
  
    <p class="color-11 font-dubai-size3 ">مع أيقونات</p>
    <div class="btn-group btn-group1 btn-group-style3" role="group" aria-label="Basic example">
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
            <mat-button-toggle class="btn btn-sucess-round float-right-div" value="1"><i class="material-icons btn-icon">account_circle</i>  أول</mat-button-toggle>
            <mat-button-toggle class="btn btn-sucess-round float-right-div" value="2"> <i class="material-icons btn-icon">account_circle</i> ثاني</mat-button-toggle>
            <mat-button-toggle class="btn btn-sucess-round float-right-div" value="3">  <i class="material-icons btn-icon">account_circle</i> ثالث</mat-button-toggle>
            <mat-button-toggle class="btn btn-sucess-round float-right-div" value="4"> <i class="material-icons btn-icon">account_circle</i> ثالث     </mat-button-toggle>
          </mat-button-toggle-group>

      
    </div>
    <div class="clearfix"></div>
 
    <p class="color-11 font-dubai-size3 ">مع أيقونات</p>
    <div class="btn-group btn-group1 btn-group-style3" role="group" aria-label="Basic example">
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
            <mat-button-toggle class="btn btn-sucess-round float-right-div" value="1">   أول</mat-button-toggle>
            <mat-button-toggle class="btn btn-sucess-round float-right-div" value="2">   ثاني</mat-button-toggle>
            <mat-button-toggle class="btn btn-sucess-round float-right-div" value="3">    ثالث</mat-button-toggle>
            <mat-button-toggle class="btn btn-sucess-round float-right-div" value="4">   ثالث     </mat-button-toggle>
          </mat-button-toggle-group>
      
    </div>
    <div class="clearfix"></div>
 
    <p class="color-11 font-dubai-size3 ">منفصل  بحد اقصى المجموع 10 بحجم المتوسط </p>
    <div class=" btn-group-width btn-group4">
      <div class="btn-group btn-group1 btn-group-style3" role="group" aria-label="Basic example">
          <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
              <mat-button-toggle class="btn dp-button-success-round top-to-bottom" value="1"><i class="material-icons btn-icon">account_circle</i>  أول</mat-button-toggle>
              <mat-button-toggle class="btn dp-button-success-round top-to-bottom" value="2">  <i class="material-icons btn-icon">account_circle</i> ثاني</mat-button-toggle>
            </mat-button-toggle-group>
        
      </div>
      <div class="btn-group btn-group1 btn-group-style3" role="group" aria-label="Basic example">
          <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
              <mat-button-toggle class="btn dp-button-success-round top-to-bottom" value="1">   أول</mat-button-toggle>
              <mat-button-toggle class="btn dp-button-success-round top-to-bottom" value="2">    ثاني</mat-button-toggle>
            </mat-button-toggle-group>
  
      </div>
    </div>
  </div>
  <div class="grid-style2  grid-3-height grid-style3 grid-style-trans-bg wow fadeInUp wHighlight btn-group-download-btn"  data-wow-delay=".55s">
    <h3>حالات الأزرار الطائفة</h3>
    <p class="font-dubai-size3 color-11 text-bottom-margin">(تستخدم هذه الازرار على الخلفيات الداكنة)</p>
   
    <p class="color-11 font-dubai-size3 text-bottom-margin"> مع أيقونات 1 (يمكن استخدامهم بدون أيقونات)</p>
    <div class="row btn-div-allignment">
      <div class="col-md-6">
        <div>
            
          <button mat-flat-button class="btn btn-white-color btn-padding6 green-color-12 full-width-btn2"><i class="material-icons btn-icon">account_circle</i><b>زر أساسي</b></button>
        </div>
      </div>
      <div class="col-md-6">
        <div>
          <button mat-flat-button class="btn dp-button-success btn-padding6 full-width-btn2"><i class="material-icons btn-icon">account_circle</i><b>زر أساسي</b></button>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <p class="color-11 font-dubai-size3 text-bottom-margin">مع أيقونات 2</p>
    <div class="row btn-div-allignment">
      <div class="col-md-6">
        <div>
          <button mat-flat-button class="btn btn-white-color btn-padding6 color-5 full-width-btn2"><i class="material-icons btn-icon">account_circle</i>زر أساسي</button>
        </div>
      </div>
      <div class="col-md-6">
        <div>
          <button mat-flat-button class="btn dp-button-success btn-padding6 full-width-btn2"><i class="material-icons btn-icon">account_circle</i>زر أساسي</button>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <p class="color-11 font-dubai-size3 text-bottom-margin">أيقونة تحميل (عرض الزر قابل للتوسع بالاضافة امكانية تغيير أيقونة الملف للصيغة المتوفرة)</p>
    <div class="row btn-div-allignment download-btn-div">
      <div class="col-md-4">
        <div class="download-icon "> <a mat-button routerLink="."><i class="material-icons font-dubai-size22 icon-gradient-grey">move_to_inbox</i></a> 
          <hr class="hr-style">
          <p class="color-11 font-dubai-size3 ">ملف مضغوط .zip</p>
          <p class="color-11 font-dubai-size3 ">1.3 MB</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="download-icon"><a mat-button routerLink="."><i class="material-icons font-dubai-size22 icon-gradient-green">move_to_inbox</i></a>  
          <hr class="hr-style">
          <p class="color-11 font-dubai-size3 green-color-12">ملف مضغوط .zip</p>
          <p class="color-11 font-dubai-size3 green-color-12">1.3 MB</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="download-icon  dp-button-success-round"> <a mat-button routerLink="."><i class="material-icons font-dubai-size22">move_to_inbox</i></a>  
           
          <hr class="hr-style">
          <p class="font-dubai-size3 white-color">ملف مضغوط .zip</p>
          <p class="font-dubai-size3 white-color">1.3 MB</p>
        </div>
      </div>
    </div>
    <p class="color-11 font-dubai-size3 ">أيقونة تحميل (عرض الزر قابل للتوسع بالاضافة امكانية تغيير أيقونة الملف للصيغة المتوفرة)</p>
    <div class="row btn-div-allignment btn-group-div">
      <div class="btn-group btn-group1 btn-group2" role="group" aria-label="Basic example">
          <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
              <mat-button-toggle class="active btn btn-white-round color-5 float-right-div" value="1"><span id="regi1" class="active"> <i class="material-icons btn-icon">account_circle</i>أول </span>  </mat-button-toggle>
              <mat-button-toggle class="btn btn-white-round color-5 float-right-div" value="2">   <span id="regi2"> <i class="material-icons btn-icon">account_circle</i>أول </span></mat-button-toggle>
              <mat-button-toggle class="btn btn-white-round color-5 float-right-div" value="3">   <span id="regi3"> <i class="material-icons btn-icon">account_circle</i>أول </span></mat-button-toggle>
              <mat-button-toggle class="btn btn-white-round color-5 float-right-div" value="4">   <span id="regi4"> <i class="material-icons btn-icon">account_circle</i>أول </span></mat-button-toggle>
            </mat-button-toggle-group>
         
      </div>
    </div>
    <div class="row btn-div-allignment btn-group-div">
      <div class=" btn-group1 btn-group3" role="group" aria-label="Basic example">
          <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
              <mat-button-toggle class="active btn btn-white-round dp-button-success-btn-group white-color" value="1"><span id="green1" class="active"> <i class="material-icons btn-icon">account_circle</i>أول </span>  </mat-button-toggle>
              <mat-button-toggle class="btn btn-white-round dp-button-success-btn-group white-color" value="2">   <span id="green2"> <i class="material-icons btn-icon">account_circle</i>أول </span></mat-button-toggle>
              <mat-button-toggle class="btn btn-white-round dp-button-success-btn-group white-color" value="3">   <span id="green3"> <i class="material-icons btn-icon">account_circle</i>أول </span></mat-button-toggle>
              <mat-button-toggle class="btn btn-white-round dp-button-success-btn-group white-color" value="4">   <span id="green4"> <i class="material-icons btn-icon">account_circle</i>أول </span></mat-button-toggle>
            </mat-button-toggle-group>
        
      </div>
    </div>
  </div>
</div>