<div class="modules-div page-2">
  <h1 class="font-dubai-bold heading-bottom-allignment wow fadeInUp wHighlight"  data-wow-delay=".35s">العناوين الافتراضية</h1>
  <div class="grid-style1 body-font-box-height wow fadeInUp wHighlight"  data-wow-delay=".35s">
    <div class="col-md-5 padding-div">
      <h2 class="txt-style-bold font-dubai-bold"> عربي</h2>
      <div class="col-md-12">
        <div class="col-md-7"><span class="font-dubai-size8 font-dubai-regular">أرقام</span></div>
        <div class="col-md-5"><span class="font-dubai-size8 font-dubai-regular">Regular 20PX</span></div>
      </div>
      <div class="col-md-12">
        <div class="col-md-7"><span class="font-dubai-size6 font-dubai-medium">نصوص تبويب/تلميح/ازرار</span></div>
        <div class="col-md-5"><span class="font-dubai-size6 font-dubai-medium">Medium 17PX</span></div>
      </div>
      <div class="col-md-12">
        <div class="col-md-7"><span class="font-dubai-size6 font-dubai-regular">نصوص تبويب/تلميح/ازرار</span></div>
        <div class="col-md-5"><span class="font-dubai-size6 font-dubai-regular">Regular 17PX</span></div>
      </div>
      <div class="col-md-12">
        <div class="col-md-7"><span class="font-dubai-size5 font-dubai-bold">نص بحث سميك</span></div>
        <div class="col-md-5"><span class="font-dubai-size5 font-dubai-bold">Bold 14PX</span></div>
      </div>
      <div class="col-md-12">
        <div class="col-md-7"><span class="font-dubai-size5 font-dubai-regular">نص بحث رفيع</span></div>
        <div class="col-md-5"><span class="font-dubai-size5 font-dubai-regular">Regular 14PX</span></div>
      </div>
    </div>
    <div class="col-md-4 padding-div body-font-box-2">
      <div class="col-md-12">
        <div class="col-md-7"><span class="font-dubai-regular font-dubai-size5 color-1">نصوص استبدالية</span></div>
        <div class="col-md-5"><span class="font-dubai-regular font-dubai-size5 color-1">Regular 14PX</span></div>
      </div>
      <div class="col-md-12">
        <div class="col-md-7"><span class="font-dubai-regular font-dubai-size4 color-2">نصوص تبويب/تلميح</span></div>
        <div class="col-md-5"><span class="font-dubai-regular font-dubai-size4 color-2">Regular 12PX</span></div>
      </div>
      <div class="col-md-12">
        <div class="col-md-7"><span class="font-dubai-regular font-dubai-size3 color-2">نصوص تذييل/ وسم/ تسلسل</span></div>
        <div class="col-md-5"><span class="font-dubai-regular font-dubai-size3 color-2">Regular 11PX</span></div>
      </div>
      <div class="col-md-12">
        <div class="col-md-7"><span class="font-dubai-bold font-dubai-size2 color-3">نصوص تبويب/تلميح/ وسم</span></div>
        <div class="col-md-5"><span class="font-dubai-bold font-dubai-size2 color-3">Bold 10PX</span></div>
      </div>
      <div class="col-md-12">
        <div class="col-md-7"><span class="font-dubai-regular font-dubai-size1 color-3">نسخة قانونية</span></div>
        <div class="col-md-5"><span class="font-dubai-regular font-dubai-size1 color-3">Bold 9PX</span></div>
      </div>
    </div>
    <div class="col-md-3 padding-div2">
      <div class="download-btn-div1">
        <p>Aأ</p>
        <hr class="hr-style">
        <p>Dubai Typeface</p>
        <p>العربية English</p>
        <div>
            <button mat-flat-button  class="btn download-btn eff">Download</button>
        </div>
      </div>
    </div>
  </div>
  <div class="grid-style1 body-font-box-height2 grid-style-padding padding-style-1 wow fadeInUp wHighlight"  data-wow-delay=".55s">
    <div class="col-md-5 padding-div">
      <h2 class="txt-style-bold font-dubai-bold">English</h2>
      <div class="col-md-12">
        <div class="col-md-7"><span class="font-dubai-size7 font-dubai-regular">Numbers</span></div>
        <div class="col-md-5"><span class="font-dubai-size7 font-dubai-regular">Regular 18PX</span></div>
      </div>
      <div class="col-md-12">
        <div class="col-md-7"><span class="font-dubai-size5 font-dubai-medium">Text Tab / Tip / Buttons</span></div>
        <div class="col-md-5"><span class="font-dubai-size5 font-dubai-medium">Medium 14PX</span></div>
      </div>
      <div class="col-md-12">
        <div class="col-md-7"><span class="font-dubai-size5 font-dubai-regular">Text Tab / Tip / Buttons</span></div>
        <div class="col-md-5"><span class="font-dubai-size5 font-dubai-regular">Regular 14PX</span></div>
      </div>
      <div class="col-md-12">
        <div class="col-md-7"><span class="font-dubai-size4 font-dubai-bold">Thick text search</span></div>
        <div class="col-md-5"><span class="font-dubai-size4 font-dubai-bold">Bold 12PX</span></div>
      </div>
      <div class="col-md-12">
        <div class="col-md-7"><span class="font-dubai-size4 font-dubai-regular">High search text</span></div>
        <div class="col-md-5"><span class="font-dubai-size4 font-dubai-regular">Regular 12PX</span></div>
      </div>
    </div>
    <div class="col-md-7 padding-div box-padding-2">
      <div class="col-md-12">
        <div class="col-md-7"><span class="font-dubai-regular font-dubai-size5 color-1">Replacement texts</span></div>
        <div class="col-md-5"><span class="font-dubai-regular font-dubai-size5 color-1">Regular 14PX</span></div>
      </div>
      <div class="col-md-12">
        <div class="col-md-7"><span class="font-dubai-regular font-dubai-size4 color-2">Text Tab / Tip</span></div>
        <div class="col-md-5"><span class="font-dubai-regular font-dubai-size4 color-2">Regular 12PX</span></div>
      </div>
      <div class="col-md-12">
        <div class="col-md-7"><span class="font-dubai-regular font-dubai-size3 color-2">Footer / Marker / Sequence Texts</span></div>
        <div class="col-md-5"><span class="font-dubai-regular font-dubai-size3 color-2">Regular 11PX</span></div>
      </div>
      <div class="col-md-12">
        <div class="col-md-7"><span class="font-dubai-bold font-dubai-size2 color-3">Tab Texts / Tip / Markup</span></div>
        <div class="col-md-5"><span class="font-dubai-bold font-dubai-size2 color-3">Bold 10PX</span></div>
      </div>
      <div class="col-md-12">
        <div class="col-md-7"><span class="font-dubai-regular font-dubai-size1 color-3">Legal copy</span></div>
        <div class="col-md-5"><span class="font-dubai-regular font-dubai-size1 color-3">Regular 9PX</span></div>
      </div>
    </div>
  </div>
  <div class="grid-style1 gride-color-1  wow fadeInUp wHighlight"  data-wow-delay=".75s">
    <div class="report-icon-div"><i class="material-icons">report_problem</i></div>
    <div class="col-md-6">
      <p class="font-dubai-regular font-dubai-size5 txt-color-2">هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقطبيعياَ -إلى حد ما- للأحرف عوضاً عن استخدام "هنا يوجد محتوى نصي، 
        هناك حقيقة م </p>
    </div>
    <div class="col-md-6">
      <p class="font-dubai-regular font-dubai-size5 txt-color-1">Lorem Ipsum is simply dummy text of the printing and typesetting 
        industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and 
        scrambled it to make a type specimen book. <br>
        <br>
        Lorem Ipsum is simply dummy text of the printing and typesetting 
        industry. </p>
    </div>
  </div>
</div>