<div class="modules-div page-3">
  <h1 class="bukra-bold">قائمة عرض مضغوط &nbsp;<span class="regular-1 head-sub-style">سرد لتخطيط الصفحة الكامل العرض</span></h1>
  <div class="clearfix"></div>
  <br>
  <div class="col-md-5"></div>
  <div class="col-md-7">
    <div class="row">
      <p class="filter-label1 color-1 font-dubai-size2">أدوات التصفية</p>
      <div class="dropdown filter-btn">
        <button class="btn filter-btn-style dropdown-toggle" type="button" data-toggle="dropdown"><i class="material-icons">reorder</i>&nbsp; عرض متراص <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">HTML</a></li>
          <li><a href="#">CSS</a></li>
          <li><a href="#">JavaScript</a></li>
        </ul>
      </div>
      <div class="dropdown filter-btn">
        <button class="btn filter-btn-style dropdown-toggle" type="button" data-toggle="dropdown"><i class="material-icons">event</i>&nbsp; حسب التاريخ <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">HTML</a></li>
          <li><a href="#">CSS</a></li>
          <li><a href="#">JavaScript</a></li>
        </ul>
      </div>
      <div class="dropdown filter-btn">
        <button class="btn filter-btn-style dropdown-toggle" type="button" data-toggle="dropdown"><img src="images/color.png">&nbsp; جميع الأولويات <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">HTML</a></li>
          <li><a href="#">CSS</a></li>
          <li><a href="#">JavaScript</a></li>
        </ul>
      </div>
    </div>
  </div>
  <p class="color-11 font-dubai-size3 text-bottom-margin">نافذة التفاعل القياسية</p>
  <div class="filter-main-div">
    <div class="filter-color-div yellow-color"></div>
    <div class="col-md-6">
      <p class="font-dubai-size5 bukra-regular"><span class="span-color1 font-dubai-size2">تم عمل الرد</span>موضوع الرسالة الرئيسي هنا</p>
      <p class="font-dubai-regular"><i class="material-icons filter-list-icon1">account_circle</i>&nbsp; اسم الجهة الواردة الرسالة منها &nbsp; <i class="material-icons filter-list-icon1">call_received</i>&nbsp; الشخص أو الإدارة المحول منه</p>
    </div>
    <div class="col-md-6">
      <div class="filter-count-div">
        <div class="filter-count-bg-div">10</div>
        <p class="bukra-bold">ساعات</p>
      </div>
      <div class="filter-count-div">
        <div class="filter-count-bg-div">10</div>
        <p class="bukra-bold">أيام</p>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <br>
  <br>
  <p class="color-11 font-dubai-size3 text-bottom-margin">نافذة التفاعل القياسية</p>
  <div class="filter-main-div">
    <div class="filter-color-div yellow-color"></div>
    <div class="col-md-6">
      <p class="font-dubai-size5 bukra-regular"><span class="span-color1 font-dubai-size2">تم عمل الرد</span>موضوع الرسالة الرئيسي هنا</p>
      <p class="font-dubai-regular"><i class="material-icons filter-list-icon1">account_circle</i>&nbsp; اسم الجهة الواردة الرسالة منها &nbsp; <i class="material-icons filter-list-icon1">call_received</i>&nbsp; الشخص أو الإدارة المحول منه</p>
    </div>
    <div class="col-md-6">
      <div class="filter-icon-div"><i class="material-icons">more_vert</i></div>
      <div class="filter-icon-div"><i class="material-icons">timer</i></div>
      <div class="filter-icon-div"><i class="material-icons">reply</i></div>
      <div class="filter-icon-div"><i class="material-icons">border_color</i></div>
      <div class="filter-icon-div"><i class="material-icons">picture_as_pdf</i></div>
    </div>
  </div>
  <div class="clearfix"></div>
  <br>
  <h1 class="bukra-bold">قائمة عرض مريحة &nbsp;<span class="regular-1 head-sub-style">سرد لتخطيط الصفحة الكامل العرض</span></h1>
  <div class="clearfix"></div>
  <br>
  <br>
  <br>
  <div class="col-md-5"></div>
  <div class="col-md-7">
    <div class="row">
      <p class="filter-label1 color-1 font-dubai-size2">أدوات التصفية</p>
      <div class="dropdown filter-btn">
        <button class="btn filter-btn-style dropdown-toggle" type="button" data-toggle="dropdown"><i class="material-icons">reorder</i>&nbsp; عرض متراص <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">HTML</a></li>
          <li><a href="#">CSS</a></li>
          <li><a href="#">JavaScript</a></li>
        </ul>
      </div>
      <div class="dropdown filter-btn">
        <button class="btn filter-btn-style dropdown-toggle" type="button" data-toggle="dropdown"><i class="material-icons">event</i>&nbsp; حسب التاريخ <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">HTML</a></li>
          <li><a href="#">CSS</a></li>
          <li><a href="#">JavaScript</a></li>
        </ul>
      </div>
      <div class="dropdown filter-btn">
        <button class="btn filter-btn-style dropdown-toggle" type="button" data-toggle="dropdown"><img src="images/color.png">&nbsp; جميع الأولويات <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">HTML</a></li>
          <li><a href="#">CSS</a></li>
          <li><a href="#">JavaScript</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <br>
  <p class="color-11 font-dubai-size3 text-bottom-margin">نافذة التفاعل القياسية</p>
  <div class="filter-main-div">
    <div class="filter-color-div yellow-color"></div>
    <div class="col-md-6">
      <p class="font-dubai-size5 bukra-regular"><span class="span-color1 font-dubai-size2">تم عمل الرد</span>موضوع الرسالة الرئيسي هنا</p>
      <p class="font-dubai-regular"><i class="material-icons filter-list-icon1">account_circle</i>&nbsp; اسم الجهة الواردة الرسالة منها &nbsp; <br>
        <i class="material-icons filter-list-icon1">call_received</i>&nbsp; الشخص أو الإدارة المحول منه</p>
    </div>
    <div class="col-md-6">
      <div class="filter-count-div">
        <div class="filter-count-bg-div">10</div>
        <p class="bukra-bold">ساعات</p>
      </div>
      <div class="filter-count-div">
        <div class="filter-count-bg-div">10</div>
        <p class="bukra-bold">أيام</p>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <br>
  <p class="color-11 font-dubai-size3 text-bottom-margin">نافذة التفاعل القياسية</p>
  <div class="filter-main-div">
    <div class="filter-color-div red-color"></div>
    <div class="col-md-6">
      <p class="font-dubai-size5 bukra-regular"><span class="span-color1 font-dubai-size2">تم عمل الرد</span>موضوع الرسالة الرئيسي هنا</p>
      <p class="font-dubai-regular"><i class="material-icons filter-list-icon1">account_circle</i>&nbsp; اسم الجهة الواردة الرسالة منها &nbsp; <br>
        <i class="material-icons filter-list-icon1">call_received</i>&nbsp; الشخص أو الإدارة المحول منه</p>
    </div>
    <div class="col-md-6">
      <div class="filter-icon-div"><i class="material-icons">more_vert</i></div>
      <div class="filter-icon-div"><i class="material-icons">timer</i></div>
      <div class="filter-icon-div"><i class="material-icons">reply</i></div>
      <div class="filter-icon-div"><i class="material-icons">border_color</i></div>
      <div class="filter-icon-div"><i class="material-icons">picture_as_pdf</i></div>
    </div>
  </div>
</div>