<div class="modules-div page-3">
  <h1 class="bukra-bold">التنبيهات والإشعارات</h1>
  <div class="alert alert-danger " role="alert">
    <mat-icon>cancel</mat-icon><strong>!خطأ</strong> هو ببساطة نص شكلي بمعنى أن الغاية هي الشكل
    <button mat-stroked-button color="warn" class="float-left">زر ثانوي</button>
  </div>
 
<div class="alert alert-success " role="alert">
  <mat-icon>check_circle</mat-icon><strong>!نجاح</strong> هو ببساطة نص شكلي بمعنى أن الغاية هي الشكل
</div>
<div class="alert alert-warning" role="alert">
  <mat-icon>warning</mat-icon><strong>!تحذير</strong> هو ببساطة نص شكلي بمعنى أن الغاية هي الشكل
  <button mat-stroked-button color="accent"  class="float-left">زر ثانوي</button>
</div>
<div class="alert alert-info" role="alert">
  <mat-icon>info</mat-icon><strong>!معلومات</strong> هو ببساطة نص شكلي بمعنى أن الغاية هي الشكل
  <button mat-stroked-button  class="float-left">زر ثانوي</button>
</div>

</div>