
<div class="modules-div page-3">
  <h1 class="bukra-bold wow fadeInUp wHighlight"  data-wow-delay=".35s">أزرار منسدلة&nbsp;<span class="regular-1 head-sub-style">تشير جميع الأحجام إلى مواقف مقترحة للأزرار المنسدلة.</span></h1>
  
  <div class="grid-style1 padding-div dropdown-div-height1 wow fadeInUp wHighlight"  data-wow-delay=".35s">
    <div class="row btn-div-allignment">
      <div class="col-md-3">
        <p class="text-top-bottom-allignment">الحجم الكبير</p>
      </div>
      <div class="col-md-3">
          <mat-form-field [class.app-input-no-underline]="!showUnderline" class="dropdown dropdown-style">
              <mat-select  class="btn dp-button-success   drop-down-padding btn-padding" value="option1"   >
                   
                <mat-option class="dropdown-item" value="option1">زر المنسدلة</mat-option>
                <mat-option class="dropdown-item" value="option1"><span>مثال ١</span></mat-option>
                <mat-option class="dropdown-item" value="option2"><span>مثال ١</span></mat-option>
                <mat-option class="dropdown-item" value="option3"><span>مثال ١</span></mat-option>
              </mat-select>
              
          </mat-form-field>
  
      </div>
      
        
      <div class="col-md-3">
          <mat-form-field [class.app-input-no-underline]="!showUnderline" class="dropdown dropdown-style dropdown-style2">
              <mat-select class="btn dp-button-success-border   drop-down-padding  " value="option1"   >
                   
                <mat-option class="dropdown-item" value="option1">زر المنسدلة</mat-option>
                <mat-option class="dropdown-item" value="option1"><span>مثال ١</span></mat-option>
                <mat-option class="dropdown-item" value="option2"><span>مثال ١</span></mat-option>
                <mat-option class="dropdown-item" value="option3"><span>مثال ١</span></mat-option>
              </mat-select>
              
          </mat-form-field>
          <div>
        
        </div>
      </div>
      <div class="col-md-3">
          <mat-form-field [class.app-input-no-underline]="!showUnderline" class="dropdown dropdown-style ">
              <mat-select class="btn dp-button-secondary   drop-down-padding  " value="option1"   >
                   
                <mat-option class="dropdown-item" value="option1">زر المنسدلة</mat-option>
                <mat-option class="dropdown-item" value="option1"><span>مثال ١</span></mat-option>
                <mat-option class="dropdown-item" value="option2"><span>مثال ١</span></mat-option>
                <mat-option class="dropdown-item" value="option3"><span>مثال ١</span></mat-option>
              </mat-select>
              
          </mat-form-field>
            
      </div>
  
    </div>
    <div class="row btn-div-allignment">
      <div class="col-md-3">
        
        <p class="text-top-bottom-allignment">الحجم المتوسط</p>
      </div>
     <div class="col-md-3">
        <mat-form-field [class.app-input-no-underline]="!showUnderline" class="dropdown dropdown-style  ">
            <mat-select class="btn dp-button-success   drop-down-padding2 btn-padding2  " value="option1"   >
                 
              <mat-option class="dropdown-item" value="option1">زر المنسدلة</mat-option>
              <mat-option class="dropdown-item" value="option1"><span>مثال ١</span></mat-option>
              <mat-option class="dropdown-item" value="option2"><span>مثال ١</span></mat-option>
              <mat-option class="dropdown-item" value="option3"><span>مثال ١</span></mat-option>
            </mat-select>
            
        </mat-form-field>
      
      </div>
      <div class="col-md-3">
          <mat-form-field [class.app-input-no-underline]="!showUnderline" class="dropdown dropdown-style  ">
              <mat-select class="btn dp-button-success-border   drop-down-padding2 btn-padding2  " value="option1"   >
                   
                <mat-option class="dropdown-item" value="option1">زر المنسدلة</mat-option>
                <mat-option class="dropdown-item" value="option1"><span>مثال ١</span></mat-option>
                <mat-option class="dropdown-item" value="option2"><span>مثال ١</span></mat-option>
                <mat-option class="dropdown-item" value="option3"><span>مثال ١</span></mat-option>
              </mat-select>
              
          </mat-form-field>
           
      </div>
      <div class="col-md-3">
          <mat-form-field [class.app-input-no-underline]="!showUnderline" class="dropdown dropdown-style dropdown-div-style2 ">
              <mat-select class="btn dp-button-secondary  drop-down-padding2 btn-padding2  " value="option1"   >
                   
                <mat-option class="dropdown-item" value="option1">زر المنسدلة</mat-option>
                <mat-option class="dropdown-item" value="option1"><span>مثال ١</span></mat-option>
                <mat-option class="dropdown-item" value="option2"><span>مثال ١</span></mat-option>
                <mat-option class="dropdown-item" value="option3"><span>مثال ١</span></mat-option>
              </mat-select>
              
          </mat-form-field>
          
      </div>
    </div>
    <div class="row btn-div-allignment">
      <div class="col-md-3">
        <p class="text-top-bottom-allignment">الحجم الصغير</p>
      </div>
   <div class="col-md-3">
      <mat-form-field [class.app-input-no-underline]="!showUnderline" class="dropdown dropdown-style dropdown-style2  dropdown-div-style2 ">
          <mat-select class="btn dp-button-success  drop-down-padding3 font-dubai-size2 btn-padding3  " value="option1"   >
               
            <mat-option class="dropdown-item" value="option1">زر المنسدلة</mat-option>
            <mat-option class="dropdown-item" value="option1"><span>مثال ١</span></mat-option>
            <mat-option class="dropdown-item" value="option2"><span>مثال ١</span></mat-option>
            <mat-option class="dropdown-item" value="option3"><span>مثال ١</span></mat-option>
          </mat-select>
          
      </mat-form-field>
        
      </div>
      <div class="col-md-3">
          <mat-form-field [class.app-input-no-underline]="!showUnderline" class="dropdown dropdown-style dropdown-style2  dropdown-div-style2 ">
              <mat-select class="btn dp-button-success-border  drop-down-padding3 font-dubai-size2 btn-padding3  " value="option1"   >
                   
                <mat-option class="dropdown-item" value="option1">زر المنسدلة</mat-option>
                <mat-option class="dropdown-item" value="option1"><span>مثال ١</span></mat-option>
                <mat-option class="dropdown-item" value="option2"><span>مثال ١</span></mat-option>
                <mat-option class="dropdown-item" value="option3"><span>مثال ١</span></mat-option>
              </mat-select>
              
          </mat-form-field>
         
      </div>
      <div class="col-md-3">
          <mat-form-field [class.app-input-no-underline]="!showUnderline" class="dropdown dropdown-style   dropdown-div-style2 ">
              <mat-select class="btn dp-button-secondary  drop-down-padding3 font-dubai-size2 btn-padding3  " value="option1"   >
                   
                <mat-option class="dropdown-item" value="option1">زر المنسدلة</mat-option>
                <mat-option class="dropdown-item" value="option1"><span>مثال ١</span></mat-option>
                <mat-option class="dropdown-item" value="option2"><span>مثال ١</span></mat-option>
                <mat-option class="dropdown-item" value="option3"><span>مثال ١</span></mat-option>
              </mat-select>
              
          </mat-form-field>
            
      </div>
      
    </div>
 
  </div>
  <div class="clearfix"></div>
  <h1 class="bukra-bold wow fadeInUp wHighlight"  data-wow-delay=".35s">أزرار منسدلة&nbsp;<span class="regular-1 head-sub-style">تشير جميع الأحجام إلى مواقف مقترحة للأزرار المنسدلة.</span></h1>
  
  <div class="grid-style2 left-margin grid-2-height drop-down-div-padding wow fadeInUp wHighlight dropdown-bg-transparent"  data-wow-delay=".55s">
    <div class="row btn-div-allignment2">
 <div class="col-md-12"> <p class="font-dubai-size3 color-11">Closed</p></div>
  <div class="clearfix"></div>
  
         <div class="dropdown dropdown-style  dropdown-div-style2">
<button class="btn dp-button-success  dropdown-toggle drop-down-padding2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
زر المنسدلة
<span class="caret"></span>
</button>

</div>
        <div class="clearfix"></div>
         <br>
      
       
          <div class="col-md-12"> <p class="font-dubai-size3 color-11">open</p></div>
        <div class="dropdown-open-style  dropdown-style" >
<div class="scroll-div">
<ul class="list-style">
<li class="dropdown-item" href="#"><span>مثال ١</span></li>
<li class="dropdown-item" href="#"><span>مثال ١</span></li>
<li class="dropdown-item" href="#"><span>مثال ١</span></li>
<li class="dropdown-item" href="#"><span>مثال ١</span></li>
<li class="dropdown-item" href="#"><span>مثال ١</span></li>
<li class="dropdown-item" href="#"><span>مثال ١</span></li>
<li class="dropdown-item" href="#"><span>مثال ١</span></li>
<li class="dropdown-item" href="#"><span>مثال ١</span></li>
<li class="dropdown-item" href="#"><span>مثال ١</span></li>
</ul>
</div></div>
   
   
         <div class="dropdown-open-style  dropdown-style" >
<div class="scroll-div">

<ul class="list-style">
<li class="dropdown-item" href="#"><span>مثال ١</span></li>
<li class="dropdown-item" href="#"><span>مثال ١</span></li>
<li class="dropdown-item" href="#"><span class="dropdown-active">مثال ١</span></li>
<li class="dropdown-item" href="#"><span>مثال ١</span></li>
<li class="dropdown-item" href="#"><span>مثال ١</span></li>
<li class="dropdown-item" href="#"><span>مثال ١</span></li>
<li class="dropdown-item" href="#"><span>مثال ١</span></li>
<li class="dropdown-item" href="#"><span>مثال ١</span></li>
<li class="dropdown-item" href="#"><span>مثال ١</span></li>
</ul>


</div></div>
    </div>
 
  </div>
  <div class="grid-style2 grid-2-height drop-down-div-padding wow fadeInUp wHighlight dropdown-bg-transparent"  data-wow-delay=".55s">
  <div class="row btn-div-allignment2">
 <div class="col-md-12"> <p class="font-dubai-size3 color-11">Closed</p></div>
  <div class="clearfix"></div>
  
         <div class="dropdown dropdown-style  dropdown-div-style2">
<button class="btn dp-button-success-border  dropdown-toggle drop-down-padding2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
زر المنسدلة
<span class="caret"></span>
</button>

</div>
        <div class="clearfix"></div>
         <br>
      
       
          <div class="col-md-12"> <p class="font-dubai-size3 color-11">open</p></div>
        <div class="dropdown-open-style  dropdown-style dropdown-style2" >
<div class="scroll-div">
<ul class="list-style">
<li class="dropdown-item" href="#"><span>مثال ١</span></li>
<li class="dropdown-item" href="#"><span>مثال ١</span></li>
<li class="dropdown-item" href="#"><span>مثال ١</span></li>
<li class="dropdown-item" href="#"><span>مثال ١</span></li>
<li class="dropdown-item" href="#"><span>مثال ١</span></li>
<li class="dropdown-item" href="#"><span>مثال ١</span></li>
<li class="dropdown-item" href="#"><span>مثال ١</span></li>
<li class="dropdown-item" href="#"><span>مثال ١</span></li>
<li class="dropdown-item" href="#"><span>مثال ١</span></li>
</ul>
</div></div>
   
   
         <div class="dropdown-open-style  dropdown-style dropdown-style2" >
<div class="scroll-div">
<ul class="list-style">
<li class="dropdown-item" href="#"><span>مثال ١</span></li>
<li class="dropdown-item" href="#"><span class="dropdown-active2">مثال ١</span></li>
<li class="dropdown-item" href="#"><span>مثال ١</span></li>
<li class="dropdown-item" href="#"><span>مثال ١</span></li>

<li class="dropdown-item" href="#"><span>مثال ١</span></li>
<li class="dropdown-item" href="#"><span>مثال ١</span></li>
<li class="dropdown-item" href="#"><span>مثال ١</span></li>
<li class="dropdown-item" href="#"><span>مثال ١</span></li>
<li class="dropdown-item" href="#"><span>مثال ١</span></li>
</ul>
</div></div>
    </div>

  </div>
  
  
  
  <div class="grid-style1 gride-color-1 drop-down-page-bottom-div wow fadeInUp wHighlight"  data-wow-delay=".75s">
    <div class="report-icon-div"><i class="material-icons">report_problem</i></div>
    <div class="col-md-6">
      <p class="font-dubai-regular font-dubai-size5 txt-color-2">هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقطبيعياَ -إلى حد ما- للأحرف عوضاً عن استخدام "هنا يوجد محتوى نصي، 
        هناك حقيقة م </p>
    </div>
    <div class="col-md-6">
      <p class="font-dubai-regular font-dubai-size5 txt-color-1">Lorem Ipsum is simply dummy text of the printing and typesetting 
        industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and 
        scrambled it to make a type specimen book. <br>
        <br>
        Lorem Ipsum is simply dummy text of the printing and typesetting 
        industry. </p>
    </div>
  </div>

</div>
 
