<div class="modules-div page-3">
  <h1 class="bukra-bold heading-bottom-allignment wow fadeInUp wHighlight"  data-wow-delay=".35s">الدلالة المعنوية للألوان &nbsp;<span class="regular-1 head-sub-style">الألوان التي يمكن تطبيقها على معظم العناصر والمكونات.</span></h1>
  <div class="grid-style1 padding-div color-p-padding wow fadeInUp wHighlight"  data-wow-delay=".35s">
    <div class="row">
      <div class="col-md-3">
        <div class="row color-palatte-space">
          <div class="col-md-3"><i class="material-icons font-dubai-size14 color-7">color_lens</i></div>
          <div class="col-md-9">
            <p class="font-dubai-size23">لون أيقونات تفاعلية 2 <br>
             <span class="font-dubai-size5 color-5">#000000</span> </p>
          </div>
        </div>
        <div class="row color-palatte-space">
          <div class="col-md-3"><i class="material-icons font-dubai-size14 color-8">color_lens</i></div>
          <div class="col-md-9">
            <p class="font-dubai-size23">لون أيقونات تفاعلية 2 <br>
             <span class="font-dubai-size5 color-5">#000000</span> </p>
          </div>
        </div>
        <div class="row color-palatte-space">
          <div class="col-md-3"><i class="material-icons font-dubai-size14 color-9">color_lens</i></div>
          <div class="col-md-9">
            <p class="font-dubai-size23">لون أيقونات تفاعلية 2 <br>
             <span class="font-dubai-size5 color-5">#000000</span> </p>
          </div>
        </div>
        <div class="row color-palatte-space">
          <div class="col-md-3"><i class="material-icons font-dubai-size14 color-6">color_lens</i></div>
          <div class="col-md-9">
             <p class="font-dubai-size23">لون أيقونات تفاعلية 2 <br>
             <span class="font-dubai-size5 color-5">#000000</span> </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="row color-palatte-space">
          <div class="col-md-3"><i class="material-icons font-dubai-size14 green-color-5">color_lens</i></div>
          <div class="col-md-9">
            <p class="font-dubai-size23">لون أيقونات تفاعلية 2 <br>
             <span class="font-dubai-size5 color-5">#000000</span> </p>
          </div>
        </div>
        <div class="row color-palatte-space">
          <div class="col-md-3"><i class="material-icons font-dubai-size14 green-color-6">color_lens</i></div>
          <div class="col-md-9">
            <p class="font-dubai-size23">لون أيقونات تفاعلية 2 <br>
             <span class="font-dubai-size5 color-5">#000000</span> </p>
          </div>
        </div>
        <div class="row color-palatte-space">
          <div class="col-md-3"><i class="material-icons font-dubai-size14 green-color-7">color_lens</i></div>
          <div class="col-md-9">
            <p class="font-dubai-size23">لون أيقونات تفاعلية 2 <br>
             <span class="font-dubai-size5 color-5">#000000</span> </p>
          </div>
        </div>
        <div class="row color-palatte-space">
          <div class="col-md-3"><i class="material-icons font-dubai-size14 green-color-8">color_lens</i></div>
          <div class="col-md-9">
             <p class="font-dubai-size23">لون أيقونات تفاعلية 2 <br>
             <span class="font-dubai-size5 color-5">#000000</span> </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="row color-palatte-space">
          <div class="col-md-3"><i class="material-icons font-dubai-size14 green-color-1">color_lens</i></div>
          <div class="col-md-9">
            <p class="font-dubai-size23">لون أيقونات تفاعلية 2 <br>
             <span class="font-dubai-size5 color-5">#000000</span> </p>
          </div>
        </div>
        <div class="row color-palatte-space">
          <div class="col-md-3"><i class="material-icons font-dubai-size14 green-color-9">color_lens</i></div>
          <div class="col-md-9">
            <p class="font-dubai-size23">لون أيقونات تفاعلية 2 <br>
             <span class="font-dubai-size5 color-5">#000000</span> </p>
          </div>
        </div>
        <div class="row color-palatte-space">
          <div class="col-md-3"><i class="material-icons font-dubai-size14 yellow-color-2">color_lens</i></div>
          <div class="col-md-9">
             <p class="font-dubai-size23">لون أيقونات تفاعلية 2 <br>
             <span class="font-dubai-size5 color-5">#000000</span> </p>
          </div>
        </div>
        <div class="row color-palatte-space">
          <div class="col-md-3"><i class="material-icons font-dubai-size14 yellow-color-3">color_lens</i></div>
          <div class="col-md-9">
             <p class="font-dubai-size23">لون أيقونات تفاعلية 2 <br>
             <span class="font-dubai-size5 color-5">#000000</span> </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="row color-palatte-space">
          <div class="col-md-3"><i class="material-icons font-dubai-size14 red-color-1">color_lens</i></div>
          <div class="col-md-9">
            <p class="font-dubai-size23">لون أيقونات تفاعلية 2 <br>
             <span class="font-dubai-size5 color-5">#000000</span> </p>
          </div>
        </div>
        <div class="row color-palatte-space">
          <div class="col-md-3"><i class="material-icons font-dubai-size14 blue-color-1">color_lens</i></div>
          <div class="col-md-9">
            <p class="font-dubai-size23">لون أيقونات تفاعلية 2 <br>
             <span class="font-dubai-size5 color-5">#000000</span> </p>
          </div>
        </div>
        <div class="row color-palatte-space">
          <div class="col-md-3"><i class="material-icons font-dubai-size14 blue-color-2">color_lens</i></div>
          <div class="col-md-9">
            <p class="font-dubai-size23">لون أيقونات تفاعلية 2 <br>
             <span class="font-dubai-size5 color-5">#000000</span> </p>
          </div>
        </div>
        <div class="row color-palatte-space">
          <div class="col-md-3"><i class="material-icons font-dubai-size14 green-color-10">color_lens</i></div>
          <div class="col-md-9">
            <p class="font-dubai-size23">لون أيقونات تفاعلية 2 <br>
             <span class="font-dubai-size5 color-5">#000000</span> </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  
  <h2 class="bukra-bold-italc heading-bottom-allignment wow fadeInUp wHighlight"  data-wow-delay=".55s">درجات الألوان&nbsp;<span class="regular-1 head-sub-style">يمكن استخدام درجات شفافية مختلفة من الألوان</span></h2>
  <div class="grid-style1 padding-div wow fadeInUp wHighlight color-palatte-height3"  data-wow-delay=".55s">
    <div class="row">
      <div class="col-md-9">
        <div class="color-palatte-div">
          <div class="row color-palatte-top">
            <div class="col-md-4"> <i class="material-icons font-dubai-size15 black-white-1">color_lens</i> </div>
            <div class="col-md-8">
              <p class="color-palatte-p-allignment font-dubai-size6">فحمي</p>
              <p class="color-palatte-p-allignment font-dubai-size5 color-5">#58585b</p>
            </div>
          </div>
          <div class="row color-palatte-top">
            <div class="col-md-4"> <i class="material-icons font-dubai-size15 black-white-1 opacity-style1">color_lens</i> </div>
            <div class="col-md-8">
              <p class="color-palatte-p-allignment palatte-padding-top-style font-dubai-size5 color-5">60%</p>
            </div>
          </div>
          <div class="row color-palatte-top">
            <div class="col-md-4"> <i class="material-icons font-dubai-size15 black-white-1 opacity-style2">color_lens</i> </div>
            <div class="col-md-8">
              <p class="color-palatte-p-allignment palatte-padding-top-style font-dubai-size5 color-5">50%</p>
            </div>
          </div>
          <div class="row color-palatte-top">
            <div class="col-md-4"> <i class="material-icons font-dubai-size15 black-white-1 opacity-style3">color_lens</i> </div>
            <div class="col-md-8">
              <p class="color-palatte-p-allignment palatte-padding-top-style font-dubai-size5 color-5">40%</p>
            </div>
          </div>
          <div class="row color-palatte-top">
            <div class="col-md-4"> <i class="material-icons font-dubai-size15 black-white-1 opacity-style4">color_lens</i> </div>
            <div class="col-md-8">
              <p class="color-palatte-p-allignment palatte-padding-top-style font-dubai-size5 color-5">30%</p>
            </div>
          </div>
        </div>
        <div class="color-palatte-div">
          <div class="row color-palatte-top">
            <div class="col-md-4"> <i class="material-icons font-dubai-size15 green-color-4">color_lens</i> </div>
            <div class="col-md-8">
              <p class="color-palatte-p-allignment font-dubai-size6">فحمي</p>
              <p class="color-palatte-p-allignment font-dubai-size5 color-5">#58585b</p>
            </div>
          </div>
          <div class="row color-palatte-top">
            <div class="col-md-4"> <i class="material-icons font-dubai-size15 green-color-4 opacity-style1">color_lens</i> </div>
            <div class="col-md-8">
              <p class="color-palatte-p-allignment palatte-padding-top-style font-dubai-size5 color-5">60%</p>
            </div>
          </div>
          <div class="row color-palatte-top">
            <div class="col-md-4"> <i class="material-icons font-dubai-size15 green-color-4 opacity-style2">color_lens</i> </div>
            <div class="col-md-8">
              <p class="color-palatte-p-allignment palatte-padding-top-style font-dubai-size5 color-5">50%</p>
            </div>
          </div>
          <div class="row color-palatte-top">
            <div class="col-md-4"> <i class="material-icons font-dubai-size15 green-color-4 opacity-style3">color_lens</i> </div>
            <div class="col-md-8">
              <p class="color-palatte-p-allignment palatte-padding-top-style font-dubai-size5 color-5">40%</p>
            </div>
          </div>
          <div class="row color-palatte-top">
            <div class="col-md-4"> <i class="material-icons font-dubai-size15 green-color-4 opacity-style4">color_lens</i> </div>
            <div class="col-md-8">
              <p class="color-palatte-p-allignment palatte-padding-top-style font-dubai-size5 color-5">30%</p>
            </div>
          </div>
        </div>
        <div class="color-palatte-div">
          <div class="row color-palatte-top">
            <div class="col-md-4"> <i class="material-icons font-dubai-size15 yellow-color-4">color_lens</i> </div>
            <div class="col-md-8">
              <p class="color-palatte-p-allignment font-dubai-size6">فحمي</p>
              <p class="color-palatte-p-allignment font-dubai-size5 color-5">#58585b</p>
            </div>
          </div>
          <div class="row color-palatte-top">
            <div class="col-md-4"> <i class="material-icons font-dubai-size15 yellow-color-4 opacity-style1">color_lens</i> </div>
            <div class="col-md-8">
              <p class="color-palatte-p-allignment palatte-padding-top-style font-dubai-size5 color-5">60%</p>
            </div>
          </div>
          <div class="row color-palatte-top">
            <div class="col-md-4"> <i class="material-icons font-dubai-size15 yellow-color-4 opacity-style2">color_lens</i> </div>
            <div class="col-md-8">
              <p class="color-palatte-p-allignment palatte-padding-top-style font-dubai-size5 color-5">50%</p>
            </div>
          </div>
          <div class="row color-palatte-top">
            <div class="col-md-4"> <i class="material-icons font-dubai-size15 yellow-color-4 opacity-style3">color_lens</i> </div>
            <div class="col-md-8">
              <p class="color-palatte-p-allignment palatte-padding-top-style font-dubai-size5 color-5">40%</p>
            </div>
          </div>
          <div class="row color-palatte-top">
            <div class="col-md-4"> <i class="material-icons font-dubai-size15 yellow-color-4 opacity-style4">color_lens</i> </div>
            <div class="col-md-8">
              <p class="color-palatte-p-allignment palatte-padding-top-style font-dubai-size5 color-5">30%</p>
            </div>
          </div>
        </div>
        <div class="color-palatte-div">
          <div class="row color-palatte-top">
            <div class="col-md-4"> <i class="material-icons font-dubai-size15 blue-color-3">color_lens</i> </div>
            <div class="col-md-8">
              <p class="color-palatte-p-allignment font-dubai-size6">فحمي</p>
              <p class="color-palatte-p-allignment font-dubai-size5 color-5">#58585b</p>
            </div>
          </div>
          <div class="row color-palatte-top">
            <div class="col-md-4"> <i class="material-icons font-dubai-size15 blue-color-3 opacity-style1">color_lens</i> </div>
            <div class="col-md-8">
              <p class="color-palatte-p-allignment palatte-padding-top-style font-dubai-size5 color-5">60%</p>
            </div>
          </div>
          <div class="row color-palatte-top">
            <div class="col-md-4"> <i class="material-icons font-dubai-size15 blue-color-3 opacity-style2">color_lens</i> </div>
            <div class="col-md-8">
              <p class="color-palatte-p-allignment palatte-padding-top-style font-dubai-size5 color-5">50%</p>
            </div>
          </div>
          <div class="row color-palatte-top">
            <div class="col-md-4"> <i class="material-icons font-dubai-size15 blue-color-3 opacity-style3">color_lens</i> </div>
            <div class="col-md-8">
              <p class="color-palatte-p-allignment palatte-padding-top-style font-dubai-size5 color-5">40%</p>
            </div>
          </div>
          <div class="row color-palatte-top">
            <div class="col-md-4"> <i class="material-icons font-dubai-size15 blue-color-3 opacity-style4">color_lens</i> </div>
            <div class="col-md-8">
              <p class="color-palatte-p-allignment palatte-padding-top-style font-dubai-size5 color-5">30%</p>
            </div>
          </div>
        </div>
        <div class="color-palatte-div">
          <div class="row color-palatte-top">
            <div class="col-md-4"> <i class="material-icons font-dubai-size15 purple-color-1">color_lens</i> </div>
            <div class="col-md-8">
              <p class="color-palatte-p-allignment font-dubai-size6">فحمي</p>
              <p class="color-palatte-p-allignment font-dubai-size5 color-5">#58585b</p>
            </div>
          </div>
          <div class="row color-palatte-top">
            <div class="col-md-4"> <i class="material-icons font-dubai-size15 purple-color-1 opacity-style1">color_lens</i> </div>
            <div class="col-md-8">
              <p class="color-palatte-p-allignment palatte-padding-top-style font-dubai-size5 color-5">60%</p>
            </div>
          </div>
          <div class="row color-palatte-top">
            <div class="col-md-4"> <i class="material-icons font-dubai-size15 purple-color-1 opacity-style2">color_lens</i> </div>
            <div class="col-md-8">
              <p class="color-palatte-p-allignment palatte-padding-top-style font-dubai-size5 color-5">50%</p>
            </div>
          </div>
          <div class="row color-palatte-top">
            <div class="col-md-4"> <i class="material-icons font-dubai-size15 purple-color-1 opacity-style3">color_lens</i> </div>
            <div class="col-md-8">
              <p class="color-palatte-p-allignment palatte-padding-top-style font-dubai-size5 color-5">40%</p>
            </div>
          </div>
          <div class="row color-palatte-top">
            <div class="col-md-4"> <i class="material-icons font-dubai-size15 purple-color-1 opacity-style4">color_lens</i> </div>
            <div class="col-md-8">
              <p class="color-palatte-p-allignment palatte-padding-top-style font-dubai-size5 color-5">30%</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 padding-div border-remove padding-style-2">



        <div class="download-btn-div1 palatte-download-div ">
          <p class="green-color-3"><i class="material-icons font-dubai-size14 green-color-1">color_lens</i></p>
          <hr class="hr-style">
          <p>Color Palette</p>
          <p>لوحة الألوان</p>
          <div>
              <button mat-flat-button  class="btn download-btn eff">Download</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="grid-style1 gride-color-1 gride-color-height wow fadeInUp wHighlight"  data-wow-delay=".75s">
    <div class="report-icon-div"><i class="material-icons">report_problem</i></div>
    <div class="col-md-6">
      <p class="font-dubai-regular font-dubai-size5 txt-color-2">هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقطبيعياَ -إلى حد ما- للأحرف عوضاً عن استخدام "هنا يوجد محتوى نصي، 
        هناك حقيقة م </p>
    </div>
    <div class="col-md-6">
      <p class="font-dubai-regular font-dubai-size5 txt-color-1">Lorem Ipsum is simply dummy text of the printing and typesetting 
        industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and 
        scrambled it to make a type specimen book. <br>
        <br>
        Lorem Ipsum is simply dummy text of the printing and typesetting 
        industry. </p>
    </div>
  </div>
</div>