<div class="modules-div page-3">
  <h1 class="bukra-bold heading-bottom-allignment wow fadeInUp wHighlight"  data-wow-delay=".35s">أزرار بأحجام مختلفة&nbsp;<span class="regular-1 head-sub-style">جميع الاحجام والحالات المقترح استخدامها بدون أيقونات</span></h1>
  <div class="grid-style1 padding-div icon-btn-list-div button-div-height wow fadeInUp wHighlight"  data-wow-delay=".35s">
    <div class="row btn-div-allignment">
      <div class="col-md-2">
        <p class="text-top-bottom-allignment font-dubai-size6">الحجم الكبير</p>
      </div>
      <div class="col-md-3 btn-center-alignment">
        <div>
          <button mat-flat-button class="btn dp-button-success btn-icon-padding icon-btn-txt-font-size1 eff"><i class="material-icons btn-icon icon-btn-txt-font-size1">person</i>زر أساسي</button>
        </div>
      </div>
      <div class="col-md-3 btn-center-alignment">
        <div>
          <button mat-flat-button class="btn dp-button-success-border btn-icon-padding icon-btn-txt-font-size1 eff2"><i class="material-icons btn-icon icon-btn-txt-font-size1">person</i>زر أساسي</button>
        </div>
      </div>
      <div class="col-md-3 btn-center-alignment">
        <div>
          <button mat-flat-button class="btn dp-button-secondary btn-icon-padding icon-btn-txt-font-size1" disabled="disabled"><i class="material-icons btn-icon icon-btn-txt-font-size1">person</i>زر أساسي</button>
        </div>
      </div>
      <div class="col-md-1 last-icon-alingnment">
        <!-- <p class="green-color-1 text-top-bottom-allignment font-dubai-size5">رابط</p> -->
        <button mat-button class="green-color-1 text-top-bottom-allignment font-dubai-size6 icon-btn-style-2"><i class="material-icons font-dubai-size6">person</i>رابط</button>
      </div>
    </div>
    <div class="row btn-div-allignment">
      <div class="col-md-2">
        <p class="text-top-bottom-allignment font-dubai-size6">الحجم المتوسط</p>
      </div>
      <div class="col-md-3 btn-center-alignment">
        <div>
          <button mat-flat-button class="btn dp-button-success btn-padding2  btn-icon-height-1 icon-btn-txt-font-size2 eff"><i class="material-icons btn-icon icon-btn-txt-font-size2">person</i>زر أساسي</button>
        </div>
      </div>
      <div class="col-md-3 btn-center-alignment">
        <div>
          <button mat-flat-button class="btn dp-button-success-border btn-padding2 btn-icon-height-1 icon-btn-txt-font-size2 eff2"><i class="material-icons btn-icon icon-btn-txt-font-size2">person</i>زر أساسي</button>
        </div>
      </div>
      <div class="col-md-3 btn-center-alignment">
        <div>
          <button mat-flat-button class="btn dp-button-secondary btn-padding2 btn-icon-height-1 icon-btn-txt-font-size2" disabled="disabled"><i class="material-icons btn-icon icon-btn-txt-font-size2">person</i>زر أساسي</button>
        </div>
      </div>
      <div class="col-md-1 last-icon-alingnment">
        <!-- <p class="green-color-1 text-top-bottom-allignment font-dubai-size5">رابط</p> -->
        <button mat-button class="green-color-1 text-top-bottom-allignment icon-btn-txt-font-size2 icon-btn-style-2"><i class="material-icons icon-btn-txt-font-size2">person</i>رابط</button>
      </div>
    </div>
    <div class="row btn-div-allignment">
      <div class="col-md-2">
        <p class="text-top-bottom-allignment font-dubai-size6">الحجم الصغير</p>
      </div>
      <div class="col-md-3 btn-center-alignment">
        <div>
          <button mat-flat-button class="btn dp-button-success btn-padding3 btn-icon-height-2 icon-btn-txt-font-size3 eff"><i class="material-icons btn-icon icon-btn-txt-font-size3">person</i>زر أساسي</button>
        </div>
      </div>
      <div class="col-md-3 btn-center-alignment">
        <div>
          <button mat-flat-button class="btn dp-button-success-border btn-padding3 btn-icon-height-2 icon-btn-txt-font-size3 eff2"><i class="material-icons btn-icon icon-btn-txt-font-size3">person</i>زر أساسي</button>
        </div>
      </div>
      <div class="col-md-3 btn-center-alignment">
        <div>
          <button mat-flat-button class="btn dp-button-secondary btn-padding3 btn-icon-height-2 icon-btn-txt-font-size3" disabled="disabled"><i class="material-icons btn-icon icon-btn-txt-font-size3">person</i>زر أساسي</button>
        </div>
      </div>
      <div class="col-md-1 last-icon-alingnment">
        <!-- <p class="green-color-1 text-top-bottom-allignment font-dubai-size5">رابط</p> -->
        <button mat-button class="green-color-1 text-top-bottom-allignment icon-btn-txt-font-size3 icon-btn-style-2"><i class="material-icons icon-btn-txt-font-size3">person</i>رابط</button>
      </div>
    </div>
    <div class="row btn-div-allignment">
      <div class="col-md-2">
        <p class="text-top-bottom-allignment font-dubai-size6">الحجم الأدنى</p>
      </div>
      <div class="col-md-3 btn-center-alignment">
        <div>
          <button mat-flat-button class="btn dp-button-success  btn-icon-height-3 icon-btn-txt-font-size4 eff ">زر أساسي</button>
        </div>
      </div>
      <div class="col-md-3 btn-center-alignment">
        <div>
          <button mat-flat-button class="btn dp-button-success-border  btn-icon-height-3 icon-btn-txt-font-size4 eff2">زر أساسي</button>
        </div>
      </div>
      <div class="col-md-3 btn-center-alignment">
        <div>
          <button mat-flat-button class="btn dp-button-secondary  btn-icon-height-3 icon-btn-txt-font-size4" disabled="disabled">زر أساسي</button>
        </div>
      </div>
      <div class="col-md-1 last-icon-alingnment">
        <!-- <p class="green-color-1 text-top-bottom-allignment font-dubai-size5">رابط</p> -->
        <button mat-button class="green-color-1 text-top-bottom-allignment icon-btn-txt-font-size4 icon-btn-style-2">رابط</button>
      </div>
    </div>
    <div class="clearfix"></div>

    <p class="font-dubai-size6 icon-btn-heading-allignment">زر مستوى كتلة كليه</p>
    <div class="btn-div-allignment  btn-alignment">
      <div class="col-md-12">
        <div>
          <button mat-flat-button class="btn dp-button-success btn-padding icon-btn-full-width full-width-btn font-dubai-size6 eff"><i class="material-icons ">person</i><span class="full-width-btn-txt">زر أساسي</span></button>
        </div>
      </div>
    </div>
    <div class="btn-div-allignment  btn-alignment">
      <div class="col-md-12">
        <div>
          <button mat-flat-button class="btn dp-button-success-border btn-padding icon-btn-full-width full-width-btn font-dubai-size6 eff2"><i class="material-icons ">person</i><span class="full-width-btn-txt">زر أساسي</span></button>
        </div>
      </div>
    </div>
    <div class="btn-div-allignment  btn-alignment">
      <div class="col-md-12">
        <div>
          <button mat-flat-button class="btn dp-button-secondary btn-padding full-width-btn icon-btn-full-width font-dubai-size6" disabled="disabled"><i class="material-icons">person</i><span class="full-width-btn-txt">زر أساسي</span></button>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="btn-div-5">
        <div class="col-md-4">
          <p class="text-top-bottom-allignment font-dubai-size6"><b>مثال </b> للأزرار الافتراضية</p>
        </div>
        <div class="col-md-2"> <a href="#" class="txt-decoration">
          <!-- <p class="green-color-1 bukra-bold text-top-bottom-allignment font-dubai-size6">معلومات إضافية</p> -->
          <button mat-button class="green-color-1 bukra-bold btn-without-bg font-dubai-size6">  إضافية علومات</button>
          </a> </div>
          <div class="col-md-2"> <a href="#" class="txt-decoration">
              <!-- <p class="green-color-1 bukra-bold text-top-bottom-allignment font-dubai-size6">معلومات إضافية</p> -->
              <button mat-button class="green-color-1 bukra-bold btn-without-bg2 font-dubai-size6">  إضافية علومات</button>
              </a> </div>
        <div class="col-md-2">
          <div>
            <button mat-flat-button class="btn dp-button-secondary-border btn-padding full-width-btn color-2 font-dubai-size6 eff2"><i class="material-icons btn-icon">chevron_right</i>زر أساسي</button>
          </div>
        </div>
        <div class="col-md-2">
          <div>
            <button mat-flat-button class="btn dp-button-success btn-padding full-width-btn font-dubai-size6 eff">زر أساسي<i class="material-icons btn-icon2">chevron_left</i></button>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="btn-div-3 btn-div-3-last">
        <div class="col-md-4">
          <p class="text-top-bottom-allignment font-dubai-size6"><b>مثال </b> للأزرار الافتراضية</p>
        </div>
        <div class="col-md-2"> <a href="#">
          <!-- <p class="color-10 bukra-bold text-top-bottom-allignment font-dubai-size6">معلومات إضافية</p> -->
          <button mat-button class="color-10 bukra-bold text-top-bottom-allignment font-dubai-size6"  disabled="disabled">  إضافية علومات</button>
          </a> </div>
          <div class="col-md-2"> <a href="#" class="txt-decoration">
              <!-- <p class="green-color-1 bukra-bold text-top-bottom-allignment font-dubai-size6">معلومات إضافية</p> -->
              <button mat-button class="green-color-1 bukra-bold text-top-bottom-allignment font-dubai-size6"  disabled="disabled">  إضافية علومات</button>
              </a> </div>
        <div class="col-md-2">
          <div>
            <button mat-flat-button class="btn dp-button-secondary-border btn-padding full-width-btn color-2 opacity-style3 font-dubai-size6" disabled="disabled" style="box-shadow: none;"><i class="material-icons btn-icon">chevron_right</i>زر أساسي</button>
          </div>
        </div>
        <div class="col-md-2">
          <div>
            <button mat-flat-button class="btn dp-button-secondary  btn-padding full-width-btn font-dubai-size6" disabled="disabled"accesskey="">زر أساسي<i class="material-icons btn-icon2">chevron_left</i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>