@charset "utf-8";

/* CSS Document */

/* CSS Document */

@media only screen and (min-width: 2000px) {
}

/* Large desktops and laptops */
@media (min-width: 1204px) and (max-width: 1895px) {
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	
	
	.download-btn-div1{width: 50%;
						top:0;}	
	.box{width: 72px;}
	
	.content-div-1 {
    max-width: 81.8%;
    right: 73px;
}
	
	.right-menu-notification{right: 34px;}	
	
	.header-icon-div .material-icons {
    font-size: 21px;
    margin: 0 6px;
}
	.header-icon-div {
		padding-right: 0;}
	
	
	.page-2 .padding-div:nth-child(2) {
    padding-top: 0;
}
	
	.grid-style2{width: 100%;
				height: auto;}
	
	.color-palatte-div {
		width: 32%;}
	
	.color-palatte-top{margin-top: 0px !important;}
	.palatte-padding-top-style {
    position: relative;
    top: 0;
}
	
	
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
}

/*-----------------------iPhone X------------------------------*/

@media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) {
}

/*-----------------------iPhone 8------------------------------*/

@media only screen and (device-width : 375px) and (device-height : 667px) and (-webkit-device-pixel-ratio : 2) {
}

/*-----------------------iPhone 8 plus------------------------------*/

@media only screen and (device-width : 414px) and (device-height : 736px) and (-webkit-device-pixel-ratio : 3) {
}

@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
}

/*------------------------------Retina Display---------------------------*/

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
}
