<div class="modules-div page-3">
  <div class="col-md-6">
    <h1 class="bukra-bold">النوافذ المشروطة</h1>
    <br>
    <p class="color-11 font-dubai-size3 text-bottom-margin">نافذة التفاعل القياسية</p>
    <div class="col-md-12">
      <div class="row">
        <input id="thefiles" type="file" class="upload-input" name="files" accept=".jpg, .png, .pdf, .xlsx, .docx, image/jpeg, .mp4, .txt, .zip, .pptx, image/png" multiple>
      </div>
    </div>
    <div class="clearfix"></div>
    <br>
    <h3 class="bukra-bold"> أداة رفع الملفات الصغيرة</h3>
    <div class="col-md-12">
      <div class="row">
        <div class="dp-media-bg scrool-bg shadow-div">
          <div class="panel-body upload-div"> 
            
            <!-- Standar Form -->
            
            <form action="" method="post" enctype="multipart/form-data" id="js-upload-form">
              <div class="form-inline">
                <div class="form-group">
                  <input type="file" name="files[]" id="js-upload-files" multiple>
                </div>
                <button type="submit" class="btn btn-sm upload-btn" id="js-upload-submit" >استعرض ملف</button>
              </div>
            </form>
            <!-- Progress Bar --> 
            <br>
            <p class="color-11 font-dubai-size3 text-bottom-margin">نافذة التفاعل القياسية</p>
            <div class="progress-bar-lis">
              <div class="file-name-div col-md-4">
                <p> <i class="material-icons">insert_drive_file</i>&nbsp;تحميل Image5.jpg</p>
              </div>
              <div class="col-md-6">
                <div class="progress progress-bar-percentage">
                  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"> <span class="sr-only">60% Complete</span> </div>
                </div>
              </div>
              <div class="close-btn-div col-md-2"><i class="material-icons">close</i></div>
            </div>
            <div class="clearfix"></div>
            <p class="color-11 font-dubai-size3 text-bottom-margin">نافذة التفاعل القياسية</p>
            <div class="progress-bar-lis progress-bar-alert">
              <div class="file-name-div col-md-4">
                <p> <i class="material-icons">insert_drive_file</i>&nbsp;تحميل Image5.jpg</p>
              </div>
              <div class="col-md-7">
                <p class="font-dubai-size3"><i class="material-icons">report_problem</i>&nbsp; حجم الملف أكثر من 2 ميغابايت محدودة</p>
              </div>
              <div class="close-btn-div col-md-1"><i class="material-icons">replay</i></div>
            </div>
            <div class="clearfix"></div>
            <p class="color-11 font-dubai-size3 text-bottom-margin">نافذة التفاعل القياسية</p>
            <div class="progress-bar-lis progress-bar-sucess">
              <div class="file-name-div col-md-4">
                <p> <i class="material-icons">insert_drive_file</i>&nbsp;تحميل Image5.jpg</p>
              </div>
              <div class="col-md-7">
                <p class="font-dubai-size3">حجم الملف أكثر من 2 ميغابايت محدودة</p>
              </div>
              <div class="close-btn-div col-md-1"><i class="material-icons">close</i></div>
            </div>
            <div class="clearfix"></div>
            <p class="color-11 font-dubai-size3 text-bottom-margin">نافذة التفاعل القياسية</p>
            <div class="progress-bar-lis progress-bar-transparent">
              <div class="file-name-div col-md-4">
                <p> <i class="material-icons">insert_drive_file</i>&nbsp;تحميل Image5.jpg</p>
              </div>
              <div class="col-md-7">
                <p class="font-dubai-size3"></p>
              </div>
              <div class="close-btn-div col-md-1"><i class="material-icons">close</i></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 ">
    <h1 class="bukra-bold">النوافذ المشروطة</h1>
    <br>
    <p class="color-11 font-dubai-size3 text-bottom-margin">نافذة التفاعل القياسية</p>
    <div class="dp-media-bg scrool-bg shadow-div">
      <div class="col-md-6">
        <div class="scrool-main-div">
          <h5>الحجم الصغير</h5>
          <div class="small-scrool-1"	>
            <p><br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
            </p>
          </div>
          <div class="small-scrool-2">
            <p><br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
            </p>
          </div>
          <div class="clearfix"></div>
          <h5>الحجم الصغير</h5>
          <div class="small-scrool-3"	>
            <p><br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
            </p>
          </div>
          <div class="small-scrool-4">
            <p><br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="scrool-main-div">
          <h5>الحجم الصغير</h5>
          <div class="small-scrool-5">
            <p><br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
            </p>
          </div>
          <div class="small-scrool-6">
            <p><br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>