<div class="modules-div page-3">
  <h1 class="bukra-bold">أزرار بأحجام مختلفة&nbsp;<span class="regular-1 head-sub-style">جميع الاحجام والحالات المقترح استخدامها بدون أيقونات</span></h1>
  <div class="grid-style1 padding-div accordion-height"  >
    <div class="col-md-12 accordion-tab-allignment">
      <p class="color-11 font-dubai-size3 text-bottom-margin"> مع أيقونات 1 (يمكن استخدامهم بدون أيقونات)</p>
      <div class="accordion-tab-div">
         
        <mat-accordion class="panel panel-default panel-faq example-headers-align"  >
            <mat-expansion-panel class="accordion-tab-div"  > 
              <mat-expansion-panel-header class="panel-heading active-faq">
                <mat-panel-title>
                    <h4 class=" font-dubai-size4"> لوريم إيبسوم(Lorem Ipsum)   </h4>
                </mat-panel-title>   
              </mat-expansion-panel-header>
              
                    <p class="font-dubai-size5">لوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى أن اغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر. لوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنىلوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى أن اغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ود </p>
                    
            </mat-expansion-panel>
            <mat-expansion-panel class="accordion-tab-div" > 
                <mat-expansion-panel-header class="panel-heading  ">
                  <mat-panel-title>
                      <h4 class=" font-dubai-size4"> لوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي  </h4>
                  </mat-panel-title>   
                </mat-expansion-panel-header>
   
                      <p class="font-dubai-size5">لوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى أن اغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر. لوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنىلوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى أن اغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ود </p>
                   
              </mat-expansion-panel>
              <mat-expansion-panel  style="    border-radius: 0 0 10px 10px;"> 
                  <mat-expansion-panel-header class="panel-heading  ">
                    <mat-panel-title>
                        <h4 class=" font-dubai-size4">لوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي  </h4>
                    </mat-panel-title>   
                  </mat-expansion-panel-header>
     
                        <p class="font-dubai-size5">لوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى أن اغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر. لوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنىلوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى أن اغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ود </p>
                     
                </mat-expansion-panel>
          </mat-accordion>
       
        
      </div>
    </div>
    <div class="row accordion-tab-allignment">
      <div class="col-md-7">
        <p class="color-11 font-dubai-size3 text-bottom-margin"> مع أيقونات 1 (يمكن استخدامهم بدون أيقونات)</p>
        <mat-accordion class="panel panel-default panel-faq">
            <mat-expansion-panel class="accordion-tab-div"  > 
              <mat-expansion-panel-header class="panel-heading  ">
                <mat-panel-title>
                    <h4 class=" font-dubai-size4"> لوريم إيبسوم(Lorem Ipsum)   </h4>
                </mat-panel-title>   
              </mat-expansion-panel-header>
 
                    <p class="font-dubai-size5">لوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى أن اغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر. لوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنىلوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى أن اغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ود </p>
                 
            </mat-expansion-panel>
            <mat-expansion-panel class="accordion-tab-div" > 
                <mat-expansion-panel-header class="panel-heading  ">
                  <mat-panel-title>
                      <h4 class=" font-dubai-size4"> لوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي  </h4>
                  </mat-panel-title>   
                </mat-expansion-panel-header>
   
                      <p class="font-dubai-size5">لوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى أن اغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر. لوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنىلوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى أن اغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ود </p>
                   
              </mat-expansion-panel>
              <mat-expansion-panel  style="    border-radius: 0 0 10px 10px;"> 
                  <mat-expansion-panel-header class="panel-heading  ">
                    <mat-panel-title>
                        <h4 class=" font-dubai-size4">لوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي  </h4>
                    </mat-panel-title>   
                  </mat-expansion-panel-header>
     
                        <p class="font-dubai-size5">لوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى أن اغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر. لوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنىلوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى أن اغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ود </p>
                     
                </mat-expansion-panel>
          </mat-accordion>
         
      </div>
      <div class="col-md-5">
        <p class="color-11 font-dubai-size3 text-bottom-margin"> مع أيقونات 1 (يمكن استخدامهم بدون أيقونات)</p>
        <mat-accordion class="panel panel-default panel-faq">
            <mat-expansion-panel class="accordion-tab-div"  > 
              <mat-expansion-panel-header class="panel-heading  ">
                <mat-panel-title>
                    <h4 class=" font-dubai-size4"><i class="material-icons accordion-tab-icon">group</i>  لوريم إيبسوم(Lorem Ipsum)   </h4>
                </mat-panel-title>   
              </mat-expansion-panel-header>
 
                    <p class="font-dubai-size5">لوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى أن اغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر. لوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنىلوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى أن اغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ود </p>
                 
            </mat-expansion-panel>
            <mat-expansion-panel class="accordion-tab-div" > 
                <mat-expansion-panel-header class="panel-heading  ">
                  <mat-panel-title>
                      <h4 class=" font-dubai-size4"><i class="material-icons accordion-tab-icon">group</i>  لوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي  </h4>
                  </mat-panel-title>   
                </mat-expansion-panel-header>
   
                      <p class="font-dubai-size5">لوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى أن اغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر. لوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنىلوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى أن اغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ود </p>
                   
              </mat-expansion-panel>
              <mat-expansion-panel  style="    border-radius: 0 0 10px 10px;"> 
                  <mat-expansion-panel-header class="panel-heading  ">
                    <mat-panel-title>
                        <h4 class=" font-dubai-size4"><i class="material-icons accordion-tab-icon">group</i> لوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي  </h4>
                    </mat-panel-title>   
                  </mat-expansion-panel-header>
     
                        <p class="font-dubai-size5">لوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى أن اغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر. لوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنىلوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى أن اغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ود </p>
                     
                </mat-expansion-panel>
          </mat-accordion>
        
      </div>
    </div>
    <div class="row accordion-tab-allignment">
      <div class="col-md-7">
        <p class="color-11 font-dubai-size3 text-bottom-margin"> مع أيقونات 1 (يمكن استخدامهم بدون أيقونات)</p>
        <mat-accordion class="panel panel-default panel-faq">
            <mat-expansion-panel class="accordion-tab-div"  [expanded]="step === 0" (opened)="setStep(0)"  > 
              <mat-expansion-panel-header class="panel-heading  ">
                <mat-panel-title>
                    <h4 class=" font-dubai-size4"> لوريم إيبسوم(Lorem Ipsum)   </h4>
                </mat-panel-title>   
              </mat-expansion-panel-header>
 
                    <p class="font-dubai-size5">لوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى أن اغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر. لوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنىلوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى أن اغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ود </p>
                 
            </mat-expansion-panel>
            <mat-expansion-panel class="accordion-tab-div"  [expanded]="step === 1" (opened)="setStep(1)"  > 
                <mat-expansion-panel-header class="panel-heading  ">
                  <mat-panel-title>
                      <h4 class=" font-dubai-size4"> لوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي  </h4>
                  </mat-panel-title>   
                </mat-expansion-panel-header>
   
                      <p class="font-dubai-size5">لوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى أن اغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر. لوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنىلوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى أن اغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ود </p>
                   
              </mat-expansion-panel>
              <mat-expansion-panel  style="    border-radius: 0 0 10px 10px;" [expanded]="step === 2" (opened)="setStep(2)"  > 
                  <mat-expansion-panel-header class="panel-heading  active-faq">
                    <mat-panel-title>
                        <h4 class=" font-dubai-size4">لوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي  </h4>
                    </mat-panel-title>   
                  </mat-expansion-panel-header>
     
                        <p class="font-dubai-size5">لوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى أن اغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر. لوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنىلوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى أن اغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ود </p>
                     
                </mat-expansion-panel>
          </mat-accordion>
         
      </div>
      <div class="col-md-5">
        <p class="color-11 font-dubai-size3 text-bottom-margin"> مع أيقونات 1 (يمكن استخدامهم بدون أيقونات)</p>
        <mat-accordion class="panel panel-default panel-faq">
            <mat-expansion-panel class="accordion-tab-div"  [expanded]="step1 === 0" (opened)="setStep1(0)" > 
              <mat-expansion-panel-header class="panel-heading active-faq ">
                <mat-panel-title>
                    <h4 class=" font-dubai-size4"><i class="material-icons accordion-tab-icon">group</i>  لوريم إيبسوم(Lorem Ipsum)   </h4>
                </mat-panel-title>   
              </mat-expansion-panel-header>
 
                    <p class="font-dubai-size5">لوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى أن اغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر. لوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنىلوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى أن اغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ود </p>
                 
            </mat-expansion-panel>
            <mat-expansion-panel class="accordion-tab-div" [expanded]="step1 === 1" (opened)="setStep1(1)"> 
                <mat-expansion-panel-header class="panel-heading  ">
                  <mat-panel-title>
                      <h4 class=" font-dubai-size4"><i class="material-icons accordion-tab-icon">group</i>  لوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي  </h4>
                  </mat-panel-title>   
                </mat-expansion-panel-header>
   
                      <p class="font-dubai-size5">لوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى أن اغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر. لوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنىلوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى أن اغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ود </p>
                   
              </mat-expansion-panel>
              <mat-expansion-panel  style="    border-radius: 0 0 10px 10px;" [expanded]="step1 === 2" (opened)="setStep1(2)"> 
                  <mat-expansion-panel-header class="panel-heading  ">
                    <mat-panel-title>
                        <h4 class=" font-dubai-size4"><i class="material-icons accordion-tab-icon">group</i> لوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي  </h4>
                    </mat-panel-title>   
                  </mat-expansion-panel-header>
     
                        <p class="font-dubai-size5">لوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى أن اغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر. لوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنىلوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى أن اغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ود </p>
                     
                </mat-expansion-panel>
          </mat-accordion>
      
      </div>
    </div>
  </div>
</div>