<div class="modules-div page-3">
  <h1 class="bukra-bold heading-bottom-allignment wow fadeInUp wHighlight"  data-wow-delay=".35s">أزرار بأحجام مختلفة&nbsp;<span class="regular-1 head-sub-style">جميع الاحجام والحالات المقترح استخدامها بدون أيقونات</span></h1>
  <div class="grid-style1 padding-div button-div-height wow fadeInUp wHighlight"  data-wow-delay=".35s">
    <div class="row btn-div-allignment">
      <div class="col-md-2">
        <p class="text-top-bottom-allignment font-dubai-size6">الحجم الكبير</p>
      </div>
      <div class="col-md-3 btn-center-alignment">
       
          <!-- <button type="button" class="btn dp-button-success btn-padding font-dubai-size6 eff"> زر أساسي </button> -->
          <button mat-flat-button  class="btn dp-button-success first-btn-row icon-btn-txt-font-size1 eff">زر أساسي</button>
        
      </div>
      <div class="col-md-3 btn-center-alignment">
        
          <!-- <button type="button" class="btn dp-button-success-border btn-padding font-dubai-size6 eff2">زر أساسي</button> -->
          <button mat-flat-button  class="btn dp-button-success-border first-btn-row icon-btn-txt-font-size1 eff2">زر أساسي</button>
      </div>
      <div class="col-md-3 btn-center-alignment">
       
          <!-- <button type="button" class="btn dp-button-secondary btn-padding font-dubai-size6"  disabled="disabled" >زر أساسي</button> -->
          <button mat-flat-button  class="btn dp-button-secondary first-btn-row icon-btn-txt-font-size1" disabled="disabled">زر أساسي</button>
        
      </div>
      <div class="col-md-1 last-icon-alingnment">
        <!-- <p class="green-color-1 text-top-bottom-allignment font-dubai-size5">رابط</p> -->
        <button mat-button class="green-color-1 text-top-bottom-allignment icon-btn-txt-font-size1 icon-btn-style-2">رابط</button>
      </div>
    </div>
    <div class="row btn-div-allignment">
      <div class="col-md-2">
        <p class="text-top-bottom-allignment font-dubai-size6">الحجم المتوسط</p>
        <p class="font-dubai-size2 color-1">(الافتراضي)</p>
      </div>
      <div class="col-md-3 btn-center-alignment">
        
          <!-- <button type="button" class="btn dp-button-success btn-padding2 font-dubai-size5 eff">زر أساسي</button> -->
          <button mat-flat-button  class="btn dp-button-success btn-padding2 icon-btn-txt-font-size2 eff btn-height-1">زر أساسي</button>
        
      </div>
      <div class="col-md-3 btn-center-alignment">
        
          <!-- <button type="button" class="btn dp-button-success-border btn-padding2 font-dubai-size5 eff2">زر أساسي</button> -->
          <button mat-flat-button  class="btn dp-button-success-border btn-padding2 icon-btn-txt-font-size2 eff2 btn-height-1">زر أساسي</button>
       
      </div>
      <div class="col-md-3 btn-center-alignment">
        
          <!-- <button type="button" class="btn dp-button-secondary btn-padding2 font-dubai-size5"  disabled="disabled">زر أساسي</button> -->
          <button mat-flat-button  class="btn dp-button-secondary btn-padding2 icon-btn-txt-font-size2 btn-height-1" disabled="disabled">زر أساسي</button>
       
      </div>
      <div class="col-md-1 last-icon-alingnment">
        <!-- <p class="green-color-1 text-top-bottom-allignment font-dubai-size5">رابط</p> -->
        <button mat-button class="green-color-1 text-top-bottom-allignment icon-btn-txt-font-size2 icon-btn-style-2">رابط</button>
      </div>
    </div>
    <div class="row btn-div-allignment">
      <div class="col-md-2">
        <p class="text-top-bottom-allignment font-dubai-size5">الحجم الصغير</p>
      </div>
      <div class="col-md-3 btn-center-alignment">
       
          <!-- <button type="button" class="btn dp-button-success btn-padding3 font-dubai-size4 eff">زر أساسي</button> -->
          <button mat-flat-button  class="btn dp-button-success btn-padding3 icon-btn-txt-font-size3 eff btn-height-2"  >زر أساسي</button>
       
      </div>
      <div class="col-md-3 btn-center-alignment">
       
          <!-- <button type="button" class="btn dp-button-success-border btn-padding3 font-dubai-size4 eff2">زر أساسي</button> -->
          <button mat-flat-button  class="btn dp-button-success-border btn-padding3 icon-btn-txt-font-size3 eff2 btn-height-2"  >زر أساسي</button>
        
      </div>
      <div class="col-md-3 btn-center-alignment">
       
          <!-- <button type="button" class="btn dp-button-secondary btn-padding3 font-dubai-size4"  disabled="disabled">زر أساسي</button> -->
          <button mat-flat-button  class="btn dp-button-secondary btn-padding3 icon-btn-txt-font-size3 btn-height-2" disabled="disabled" >زر أساسي</button>
        
      </div>
      <div class="col-md-1 last-icon-alingnment">
        <!-- <p class="green-color-1 text-top-bottom-allignment font-dubai-size5">رابط</p> -->
        <button mat-button class="green-color-1 text-top-bottom-allignment icon-btn-txt-font-size3 icon-btn-style-2">رابط</button>
      </div>
    </div>
    <div class="row btn-div-allignment">
      <div class="col-md-2">
        <p class="text-top-bottom-allignment font-dubai-size6">الحجم الأدنى</p>
      </div>
      <div class="col-md-3 btn-center-alignment">
       
          <!-- <button type="button" class="btn dp-button-success btn-padding4 font-dubai-size2 eff">زر أساسي</button> -->
          <button mat-flat-button  class="btn dp-button-success btn-padding4 icon-btn-txt-font-size4 eff btn-height-3"   >زر أساسي</button>
        
      </div>
      <div class="col-md-3 btn-center-alignment">
        
          <!-- <button type="button" class="btn dp-button-success-border btn-padding4 font-dubai-size2 eff2">زر أساسي</button> -->
          <button mat-flat-button  class="btn dp-button-success-border btn-padding4 icon-btn-txt-font-size4 eff2 btn-height-3"   >زر أساسي</button>
        
      </div>
      <div class="col-md-3 btn-center-alignment">
        
          <!-- <button type="button" class="btn dp-button-secondary btn-padding4 font-dubai-size2"  disabled="disabled">زر أساسي</button> -->
          <button mat-flat-button  class="btn dp-button-secondary btn-padding4 icon-btn-txt-font-size4 btn-height-3"  disabled="disabled" >زر أساسي</button>
        
      </div>
      <div class="col-md-1 last-icon-alingnment">
        <!-- <p class="green-color-1 text-top-bottom-allignment font-dubai-size5">رابط</p> -->
        <button mat-button class="green-color-1 text-top-bottom-allignment icon-btn-txt-font-size4 icon-btn-style-2">رابط</button>
      </div>
    </div>
    <div class="clearfix"></div>
    <br>
    <p class="font-dubai-size6">زر مستوى كتلة كليه</p>
    <div class="btn-div-allignment-fullwidth btn-alignment">
      <div class="col-md-12">
        
          <!-- <button type="button" class="btn dp-button-success btn-padding full-width-btn font-dubai-size6 eff">زر أساسي</button> -->
          <button mat-flat-button  class="btn dp-button-success btn-padding full-width-btn font-dubai-size6 eff"  >زر أساسي</button>
        
      </div>
    </div>
    <div class="btn-div-allignment-fullwidth btn-alignment">
      <div class="col-md-12">
        
          <!-- <button type="button" class="btn dp-button-success-border btn-padding full-width-btn font-dubai-size6 eff2">زر أساسي</button> -->
          <button mat-flat-button  class="btn dp-button-success-border btn-padding full-width-btn font-dubai-size6 eff2"  >زر أساسي</button>
        
      </div>
    </div>
    <div class="btn-div-allignment-fullwidth btn-alignment">
      <div class="col-md-12">
        
          <!-- <button type="button" class="btn dp-button-secondary btn-padding full-width-btn font-dubai-size6"  disabled="disabled">زر أساسي</button> -->
          <button mat-flat-button  class="btn dp-button-secondary btn-padding full-width-btn font-dubai-size6"  disabled="disabled" >زر أساسي</button>
        
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="btn-div-3">
        <div class="col-md-4">
          <p class="text-top-bottom-allignment font-dubai-size6"><b>مثال </b> للأزرار الافتراضية</p> 
           
        </div>
     
        <div class="col-md-2">
         <button mat-button  class=" bukra-bold btn-without-bg font-dubai-size6">معلومات إضافية</button>
          </div>
        <div class="col-md-2"> <a href="#" class="txt-decoration">
         <button mat-button  class="green-color-1 bukra-bold btn-without-bg2 font-dubai-size6">معلومات إضافية</button>
          </a> 

        </div>
        <div class="col-md-2">
          
            <!-- <button type="button" class="btn dp-button-secondary-border btn-padding full-width-btn color-2 font-dubai-size6 eff2">زر أساسي</button> -->
            <button mat-flat-button  class="btn dp-button-secondary-border btn-padding5 full-width-btn color-2 font-dubai-size6 eff2"  >زر أساسي</button>
          
        </div>
        <div class="col-md-2">
          
            <!-- <button type="button" class="btn dp-button-success btn-padding full-width-btn font-dubai-size6 eff">زر أساسي</button> -->
            <button mat-flat-button  class="btn dp-button-success btn-padding5 full-width-btn font-dubai-size6 eff" >زر أساسي</button>
          
        </div>
      </div>
    </div>


    <div class="row">
      <div class="btn-div-3 btn-div-3-last">
        <div class="col-md-4">
          <p class="text-top-bottom-allignment font-dubai-size6"><b>مثال </b> للأزرار الافتراضية</p>
        </div>
      
        <div class="col-md-2">
         
            <!-- <p class=" "><b>مثال </b> للأزرار الافتراضية</p> -->
            <button mat-button  class="green-color-1 bukra-bold text-top-bottom-allignment font-dubai-size6" disabled="disabled">للأزرار الافتراضية</button>
          </div>
        <div class="col-md-2">
          <!-- <p class="color-10 bukra-bold text-top-bottom-allignment font-dubai-size6" disabled="disabled">معلومات إضافية</p> -->
          <button mat-button  class="color-10 bukra-bold text-top-bottom-allignment font-dubai-size6" disabled="disabled">  إضافية معلومات </button>
        </div>
        <div class="col-md-2">
          <div>
            <!-- <button type="button" class="btn dp-button-secondary-border btn-padding full-width-btn color-2 opacity-style3 font-dubai-size6 eff2" disabled="disabled" style="box-shadow: none; ">زر أساسي</button> -->
            <button mat-flat-button  class="btn dp-button-secondary-border btn-padding5 full-width-btn color-2 opacity-style3 font-dubai-size6 eff2" disabled="disabled" style="box-shadow: none; " >زر أساسي</button>
          </div>
        </div>
        <div class="col-md-2">
          <div>
            <!-- <button type="button" class="btn dp-button-secondary  btn-padding full-width-btn font-dubai-size6 eff" disabled="disabled">زر أساسي</button> -->
            <button mat-flat-button  class="btn dp-button-secondary  btn-padding5 full-width-btn font-dubai-size6 eff" disabled="disabled" >زر أساسي</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
