<div class="modules-div page-2">
  <h1 class="bukra-bold heading-bottom-allignment wow fadeInUp wHighlight"  data-wow-delay=".35s">ألوان الخط&nbsp;<span class="regular-1 head-sub-style">التصميم لعناصر النص المضمن الشائعة</span></h1>
  <div class="grid-style2 grid-style-height left-margin wow fadeInUp wHighlight"  data-wow-delay=".35s">
    <div class="row">
      <div class="col-md-5 txt-style-col-5">
        <div class="row list-padding2">
          <div class="col-md-2">
            <h1 class="font-dubai-bold color-7 txt-first-letter">T</h1>
          </div>
          <div class="col-md-10">
            <h2 class="font-dubai-bold margin-bottom color-7">#000000</h2>
            <span class="font-dubai-regular font-dubai-size5 color-7">لون العناوين والنصوص</span></div>
        </div>
        <div class="row list-padding2">
          <div class="col-md-2">
            <h1 class="font-dubai-bold color-2 txt-first-letter">T</h1>
          </div>
          <div class="col-md-10">
            <h2 class="font-dubai-bold  margin-bottom color-2">#555555</h2>
            <span class="font-dubai-regular font-dubai-size5 color-2">لون العناوين والنصوص</span></div>
        </div>
        <div class="row list-padding2">
          <div class="col-md-2">
            <h1 class="font-dubai-bold color-5 txt-first-letter">T</h1>
          </div>
          <div class="col-md-10">
            <h2 class="font-dubai-bold  margin-bottom color-5">#868c93</h2>
            <span class="font-dubai-regular font-dubai-size5 color-5">لون العناوين والنصوص</span></div>
        </div>
        <div class="row list-padding2">
          <div class="col-md-2">
            <h1 class="font-dubai-bold color-1 txt-first-letter">T</h1>
          </div>
          <div class="col-md-10">
            <h2 class="font-dubai-bold  margin-bottom color-1">#b7bcc2</h2>
            <span class="font-dubai-regular font-dubai-size5 color-1">لون العناوين والنصوص</span></div>
        </div>
        <div class="row list-padding2">
          <div class="col-md-2">
            <h1 class="font-dubai-bold color-6 txt-first-letter">T</h1>
          </div>
          <div class="col-md-10">
            <h2 class="font-dubai-bold  margin-bottom color-6">#ffffff</h2>
            <span class="font-dubai-regular font-dubai-size5 color-6">لون العناوين والنصوص</span></div>
        </div>
      </div>
      <div class="col-md-7 txt-line-height1"> <p class="font-dubai-regular font-dubai-size4 color-7 txt-line-height-style">هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعيا </p>
        <p class="font-dubai-regular font-dubai-size4 color-5 txt-line-height-style">هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعيا </p>
        <p class="font-dubai-regular font-dubai-size4 color-1 txt-line-height-style"> كنموذج عن النص، وإذا قمت بإدخال "lorem ipsum" في أي محرك بحث ستظهر العديد من المواقع الحديثة العهد في نتائج البحث. على مدى السنين ظهرت نسخ جديدة ومختلفة من نص لوريم إيبسوم، أ </p> </div>
    </div>
  </div>
  <div class="grid-style2 grid-style-height2 wow fadeInUp wHighlight"  data-wow-delay=".35s">
    <div class="row">
      <div class="col-md-5 txt-style-col-5">
        <div class="row list-padding2">
          <div class="col-md-2">
            <h1 class="bukra-bold-italc green-color-1 txt-first-letter">T</h1>
          </div>
          <div class="col-md-10">
            <h2 class="font-dubai-bold  margin-bottom green-color-1">#07c880</h2>
            <span class="font-dubai-regular font-dubai-size5 green-color-1">لون العناوين والنصوص</span></div>
        </div>
        <div class="row list-padding2">
          <div class="col-md-2">
            <h1 class="font-dubai-bold green-color-2 txt-first-letter">T</h1>
          </div>
          <div class="col-md-10">
            <h2 class="font-dubai-bold  margin-bottom green-color-2">#14ba7c</h2>
            <span class="font-dubai-regular font-dubai-size5 green-color-2">لون العناوين والنصوص</span></div>
        </div>
        <div class="row list-padding2">
          <div class="col-md-2">
            <h1 class="font-dubai-bold green-color-3 txt-first-letter">T</h1>
          </div>
          <div class="col-md-10">
            <h2 class="font-dubai-bold  margin-bottom green-color-3">#0da06e</h2>
            <span class="font-dubai-regular font-dubai-size5 green-color-3">لون العناوين والنصوص</span></div>
        </div>
        <div class="row list-padding2">
          <div class="col-md-2">
            <h1 class="font-dubai-bold green-color-4 txt-first-letter">T</h1>
          </div>
          <div class="col-md-10">
            <h2 class="font-dubai-bold  margin-bottom green-color-4">#59648c</h2>
            <span class="font-dubai-regular font-dubai-size5 green-color-4">لون العناوين والنصوص</span></div>
        </div>
      </div>
      <div class="col-md-7 txt-line-height1"> <p class="font-dubai-regular font-dubai-size4 green-color-1 txt-line-height-style">هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعيا </p>
        <p class="font-dubai-regular font-dubai-size4  green-color-2 txt-line-height-style">هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعيا </p>
        <p class="font-dubai-regular font-dubai-size4  green-color-4"> كنموذج عن النص، وإذا قمت بإدخال "lorem ipsum" في أي محرك بحث ستظهر العديد من المواقع الحديثة العهد في نتائج البحث. على مدى السنين ظهرت نسخ جديدة ومختلفة من نص لوريم إيبسوم، أ </p> </div>
    </div>
  </div>
  <div class="grid-style1  padding-div grid-color-box-height wow fadeInUp wHighlight"  data-wow-delay=".55s">
    <div class="row">
      <div class="col-md-9">
        <div class="col-md-3 txt-style-col-5">
          <div class="row list-padding2">
            <div class="col-md-2">
              <h1 class="font-dubai-bold red-color-1 txt-first-letter">T</h1>
            </div>
            <div class="col-md-10">
              <h3 class="font-dubai-bold  margin-bottom red-color-1">#e74c3c</h3>
              <span class="font-dubai-regular font-dubai-size4 red-color-1">لون العناوين والنصوص</span></div>
          </div>
          <div class="row list-padding2">
            <div class="col-md-2">
              <h1 class="font-dubai-bold yellow-color-1 txt-first-letter">T</h1>
            </div>
            <div class="col-md-10">
              <h3 class="font-dubai-bold  margin-bottom yellow-color-1">#f0b323</h3>
              <span class="font-dubai-regular font-dubai-size4 yellow-color-1">لون العناوين والنصوص</span></div>
          </div>
          <div class="row list-padding2">
            <div class="col-md-2">
              <h1 class="font-dubai-bold blue-color-1 txt-first-letter">T</h1>
            </div>
            <div class="col-md-10">
              <h3 class="font-dubai-bold  margin-bottom blue-color-1">#336888</h3>
              <span class="font-dubai-regular font-dubai-size4 blue-color-1">لون العناوين والنصوص</span></div>
          </div>
        </div>
        <div class="col-md-9 txt-line-height1"> <p class="font-dubai-regular font-dubai-size4 red-color-1 text-top-bottom-allignment txt-line-height-style">هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعيا </p>
          <p class="font-dubai-regular font-dubai-size4 list-padding yellow-color-1 text-top-bottom-allignment txt-line-height-style">هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعيا </p>
          <p class="font-dubai-regular font-dubai-size4 list-padding blue-color-1 text-top-bottom-allignment txt-line-height-style"> كنموذج عن النص، وإذا قمت بإدخال "lorem ipsum" في أي محرك بحث ستظهر العديد من المواقع الحديثة العهد في نتائج البحث. على مدى السنين ظهرت نسخ جديدة ومختلفة من نص لوريم إيبسوم، أ </p> </div>
      </div>
      <div class="col-md-3 padding-div border-remove padding-style-2">
        <div class="download-btn-div1 font-color-div">
          <p class="green-color-3">A<span class="green-color-2">أ</span></p>
          <hr class="hr-style">
          <p>Font Colors</p>
          <p>العربية English</p>
          <div>
              <button mat-flat-button  class="btn download-btn eff">Download</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="grid-style1 gride-color-1 wow fadeInUp wHighlight"  data-wow-delay=".75s">
    <div class="report-icon-div"><i class="material-icons">report_problem</i></div>
    <div class="col-md-6">
      <p class="font-dubai-regular font-dubai-size5 txt-color-2">aterial icons are delightful, beautifully crafted symbols for common actions and items. Download on desktop to use them in your digital products for Android, iOS, an</p>
    </div>
    <div class="col-md-6">
      <p class="font-dubai-regular font-dubai-size5 txt-color-1">Lorem Ipsum is simply dummy text of the printing and typesetting 
        industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and 
        scrambled it to make a type specimen book. <br>
        <br>
        Lorem Ipsum is simply dummy text of the printing and typesetting 
        industry. </p>
    </div>
  </div>
</div>